{% extends "layout.html" %}

{% block pageTitle %}
  Tasklist
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<form action="/respondenttasklist/startreply" method="post" novalidate>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
 		 <a href="/respondenttasklist/startreply" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        All documents
      </h1>

      <p class="govuk-body">Case number #1636575673018538</p>


      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">View all documents</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">Read through the application and then respond to the questions about the case</p> !-->

  </div>
</div>



 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
             Orders from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="orders" aria-describedby="your-safety">
                  Orders
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">New</strong>
            </li>
         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Final decision from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/yoursafety/safetyinfo" aria-describedby="your-safety">
                  View your final order
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">New</strong>
            </li>

         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Respondent's documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/respondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Response to the applicant's request
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/respondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Response to the allegations of harm and violence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/respondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Application made in these proceedings
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/respondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Previous orders submitted with application
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/respondenttasklist/yourdocuments/alldocuments/witnessstatements" aria-describedby="eligibility-status">
                  Letters from school
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Your statements
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="witnessstatements" aria-describedby="eligibility-status">
                  Witness statements
                </a>
              </span>
              <strong class="govuk-tag govuk-tag govuk-tag--red app-task-list__tag" id="eligibility-status">Updated</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Digital downloads
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Photographic evidence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Mobile phone screenshots
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Medical records
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Medical reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  DNA reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Paternity test reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Drug and alcohol tests (toxicology)
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Police disclosures
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Emails to ask to change a hearing date
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="legalrepresentation/start" aria-describedby="eligibility-status">
                  Witness availability
                </a>
              </span>
              <strong class="govuk-tag govuk-tag govuk-tag--red app-task-list__tag" id="eligibility-status">Updated</strong>
            </li>
            
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Applicant's documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 <a href="applicationdetails/miam/start" aria-describedby="application-details-miam">
                  Applicant's request for child arrangements
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicationdetails/proceedings/start" aria-describedby="current-or-previous-proceedings">
                  Applicants allegations of harm or violence
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicationdetails/proceedings/start" aria-describedby="current-or-previous-proceedings">
                  Position statement
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/tellusyourhearingneeds/start" aria-describedby="read-declaration-status">
                  Medical reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--grey" id="eligibility-status">Viewed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/tellusyourhearingneeds/start" aria-describedby="read-declaration-status">
                  MIAM certificate
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--grey" id="eligibility-status">Viewed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             CAFCASS and local authority documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/yoursafety/safetyinfo" aria-describedby="your-safety">
                  Safeguarding letter
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">New</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/childrensafety/childrenabuse" aria-describedby="children-safety">
                  Section 7 report
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/abduction/abduction" aria-describedby="abduction">
                  Section 37 report
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/otherconcerns/drugs" aria-describedby="risk-of-harm-or-violence">
                  16a risk assessment
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">View</strong>
            </li>
         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Other documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/contact/unsupervised" aria-describedby="risk-of-harm-or-violence">
                  Important information about your address and contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/contact/unsupervised" aria-describedby="risk-of-harm-or-violence">
                  Privacy notice
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/contact/unsupervised" aria-describedby="risk-of-harm-or-violence">
                  Special measures
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Attending the hearing
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/contact/unsupervised" aria-describedby="risk-of-harm-or-violence">
                  Notice of hearing
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/contact/unsupervised" aria-describedby="risk-of-harm-or-violence">
                  Your needs when you go to court
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Viewed</strong>
            </li>
         </ul>
        </li>


    <div class="govuk-button-group">


          <div class="govuk-button-group">
            <button class="govuk-button govuk-button--secondary" href="/respondenttasklist/startreply" data-module="govuk-button">
              Go back
            </button>

         </div>


    </div>
  </ol>

    </div>

    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>

    </div>
 </div>
</form>



{% endblock %}
