{% extends "layout.html" %}

{% block pageTitle %}
  Tasklist
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">
     		 <a href="/respondenttasklist/yourdocuments/alldocuments/alldocuments" class="govuk-back-link">Back</a>

         <main class="govuk-main-wrapper " id="main-content" role="main">


         <h1 class="govuk-heading-l">
           <span class="govuk-caption-l">All documents</span>
           Final orders from the court
         </h1>

          <p class="govuk-body">Case number #1636575673018538</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">View all documents</h2>
          <p class="govuk-body govuk-!-margin-bottom-7">Read through the application and then respond to the questions about the case</p> !-->







      <ol class="app-task-list">
        <li>

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                24 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Final_Order__Child2__24062021.pdf</a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                23 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Final_Order__Child1__23062021.pdf</a>
              </dd>
            </div>



          </dl>
        </li>
      </ol>

      <div class="govuk-button-group">


            <div class="govuk-button-group">



              <button class="govuk-button govuk-button--secondary" a href="#" onclick="history.back(-1)"  data-module="govuk-button">
                Go back
              </button>

           </div>


      </div>

</main>
    </div>
    </div>

    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>

    </div>
 </div>





{% endblock %}
