{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}




<a href="/darespondenttasklist/yourdocuments/uploadv2/uploaddocuments" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">Upload documents</span>
        Witness statements and evidence
      </h1>

      <p class="govuk-body">If you are uploading documents from a computer, name the files clearly. For example, letter-from-school.doc.</p>

      <p class="govuk-body">Files must end with JPG, BMP, PNG,TIF, PDF, DOC or DOCX.</p>


      <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How to take a picture of a document on your phone and upload it
                </span>
              </summary>
              <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                  <li>Place your document on a flat service in a well-lit room. Use a flash if you need to.</li>
                  <li>Take a picture of the whole document. You should be able to see its edges.</li>
                  <li>Check you can read all the writing, including the handwriting.</li>
                  <li>Email or send the photo or scan to the device you are using now.</li>
                  <li>Upload it using the method below.</li>
                </ol>
              </div>
        </details>


        <!-- start components here -->



        <div class="uploadcomponent">

          <div class=" govuk-!-margin-bottom-3">

            <div class="govuk-warning-text govuk-!-margin-bottom-4">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text govuk-!-font-size-16">
                <span class="govuk-warning-text__assistive">Warning</span>
                If there is information that must not be shared with the other people in the case,
                make sure it is not included in any documents you upload. If this is not possible you
                can ask the court to restrict who can see the document.
              </strong>
            </div>

            <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Rules about sharing emails, letters and documents:
                      </span>
                    </summary>
                    <div class="govuk-details__text">

                      <p class="govuk-body">When you upload documents, including emails and letters, these are automatically shared with the other people in the case. The only exceptions are if:</p>
                      <ol class="govuk-list govuk-list--bullet">
                        <li>there is a very good reason not to share the document, for example safety concerns.</li>
                        <li>the document is not something the judge needs to see</li>
                        <li>one of the people in the case has an address that needs to be kept private</li>
                      </ol>

                      <p class="govuk-body">If you believe a document you are uploading must not be shared with the other people in the case, you can ask the court to keep it private.</p>

                    </div>
              </details>

            <div class="govuk-form-group govuk-inset-text govuk-!-margin-bottom-9">

              <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-1">
                Upload a file
              </label>

              <input class="govuk-file-upload govuk-!-margin-bottom-4" id="file-upload-1" name="file-upload-1" type="file">

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">


                  <div class="govuk-checkboxes__item govuk-!-margin-bottom-4">
                     <input class="govuk-checkboxes__input" id="reasonable-adjustments-3" name="reasonable-adjustments" type="checkbox" value="I need to bring support with me to a hearing" aria-controls="certain-interpreter-conditional" aria-expanded="true">

                     <label class="govuk-label govuk-checkboxes__label govuk-!-margin-bottom-4" for="reasonable-adjustments">
                      <P>Tick this box if you want to restrict who can see this document.</p>  <p>A document marked as private will only be shared
                      with the court staff and the Children and Family Court Advisory and Support Service (Cafcass or Cafcass Cymru), unless the court
                      decides it needs to be shared with the other people in the case.</p>
                     </label>

                     <div class="govuk-checkboxes__conditional" id="certain-interpreter-conditional">

                       <div class="govuk-form-group">

                         <label for="steps-attending-court-language-form-language-interpreter-details-field" class="govuk-label">
                           Explain why you want the document to only be seen by court staff and Cafcass</label>
                         <textarea id="steps-attending-court-language-form-language-interpreter-details-field"
                         class="govuk-textarea" rows="2"
                         name="steps_attending_court_language_form[language_interpreter_details]">                           </textarea>

                       </div>

                      </div>

                  </div>

                </div>
                <form action="uploadthirddocument" method="post" novalidate>

                <button class="govuk-button upload-addnew govuk-button--secondary" data-module="govuk-button">
                  Upload file
                </button>

              </form>
            </div>

            <div class = "uploadedfilessummary">

                  <h2 class="app-task-list__section">
                     Uploaded files
                  </h2>

                  <dl class="govuk-summary-list">

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__value">
                          witness_statement.pdf
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <strong>Marked as private</strong>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Remove<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>

                    </dl>

              </div>

          </div>


        </div>


        <!-- end components here -->

        <br><br><br><br>


        <div class="govuk-button-group">


          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>


        </div>

        <br>

    </div>

    <div class="govuk-grid-column-one-third">

      <details class="govuk-details" data-module="govuk-details">

          <summary class="govuk-details__summary">

           <span class="govuk-details__summary-text">
            Contacts for help
            </span>

          </summary>

          <div class="govuk-details__text">
           Ask a question or get any help in any language
           <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

           <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
           <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
           <a href="#" class="govuk-link">Find out about call charges</a>
           <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

          </div>

      </details>

    </div>

  </div>







{% endblock %}
