{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper " id="main-content" role="main">

       <form action="childrenabuse-answer" method="post" novalidate>

         <span class="govuk-caption-l">Safety concerns</span>
         <h1 class="govuk-heading-l">Have the child(ren) named in this application experienced or are at risk of experiencing domestice abuse or violence?</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="proposal-hint">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="child-abuse-yes" name="abuse" type="radio" value="yes" data-aria-controls="conditional-abuse">
                <label class="govuk-label govuk-radios__label" for="child-abuse-yes">Yes</label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-abuse">
            <div class="govuk-form-group">
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <label class="govuk-label" for="proposal-howmany">Tick any of the following kinds of abuse that the child(ren) have experienced:</label>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="child-physical-abuse" name="physical-abuse" type="checkbox" value="physical-abuse">
                          <label class="govuk-label govuk-checkboxes__label" for="child-physical-abuse">
                            Physical abuse
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="child-emotional-abuse" name="emotional-abuse" type="checkbox" value="emotional-abuse">
                            <label class="govuk-label govuk-checkboxes__label" for="child-emotional-abuse">
                              Emotional abuse
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="child-psychological-abuse" name="psychological-abuse" type="checkbox" value="psychological-abuse">
                          <label class="govuk-label govuk-checkboxes__label" for="child-psychological-abuse">
                            Psychological abuse
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="child-sexual-abuse" name="sexual-abuse" type="checkbox" value="sexual-abuse">
                          <label class="govuk-label govuk-checkboxes__label" for="child-sexual-abuse">
                            Sexual abuse
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="child-financial-abuse" name="financial-abuse" type="checkbox" value="financial-abuse">
                          <label class="govuk-label govuk-checkboxes__label" for="child-financial-abuse">
                             Financial abuse
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="child-abuse-no" name="abuse" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="child-abuse-no">No</label>
            </div>
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </main>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
