{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper " id="main-content" role="main">

       <form action="unsupervised" method="post" novalidate>
         <span class="govuk-caption-l">Safety concerns</span>
         <h1 class="govuk-heading-m">What steps or orders do you
           want the court to take or make to protect the safety of the child(ren) and/or yourself?</h1>


         <details class="govuk-details" data-module="govuk-details">
           <summary class="govuk-details__summary">
             <span class="govuk-details__summary-text">
               What to consider
             </span>
           </summary>
           <div class="govuk-details__text">
             <p><b>Non-molestation order:</b> The court may decide to make a non- molestation order under Part IV of the Family Law Act 1996. A non-molestation order requires that the person against whom the order has been made may not be violent or threaten violence, harass, pester or annoy the person who applied for the order, by any means, including social media (text messages, Facebook etc.).</p>
             <p> The diferent types of orders that can be applied for under section 8 of the Children Act 1989 are as follows: </p>
             <p><b>Prohibited Steps:</b> this prevents a parent from taking a particular action as set out in the order without the permission of the court. This also applies to actions by any other person named in the order. </p>
               <p><b>Specific issue:</b> this decides specifc questions e.g. about education, medical treatment or a foreign holiday or visit where parents or those with parental responsibility cannot agree.</p>
           </div>
         </details>

         <div class="govuk-form-group">

         <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10"></textarea>
       </div>



        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </main>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
