{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper " id="main-content" role="main">

       <form action="policeinvolvement" method="post" novalidate>

         <h1 class="govuk-heading-l">Abduction</h1>


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="proposal-hint">
                  <legend class="govuk-fieldset__legend">
                  Who is in possession of the child(ren)’s passport(s)?
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="child-abuse-yes" name="abuse" type="radio" value="mother">
                        <label class="govuk-label govuk-radios__label" for="child-abuse-yes">Mother</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="child-abuse-no" name="abuse" type="radio" value="father">
                        <label class="govuk-label govuk-radios__label" for="child-abuse-no">Father</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="child-abuse-no" name="abuse" type="radio" data-aria-controls="conditional-other">
                        <label class="govuk-label govuk-radios__label" for="child-abuse-no">Other</label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="proposal-howmany">Please give details</label>
                      <textarea class="govuk-textarea" id="non-molestation-date" name="non-molestation-date" rows="3" aria-describedby="non-molestation-date-issued"></textarea>

                      </div>
                    </div>
                  </div>
                </div>



        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </main>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
