{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
 		 <a href="#" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        Sam Richards
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Respond to a child arrangements application</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">Respondent reference A162527378</p>

  </div>
</div>

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Application made against you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Applicant's claim (C100)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Consent to application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Legal representation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Details of your solicitor
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Application details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicationdetails/aboutyou/start" aria-describedby="application-detail-about-you">
                  About you
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 <a href="applicationdetails/miam/start" aria-describedby="application-details-miam">
                  MIAM
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicationdetails/proceedings/start" aria-describedby="current-or-previous-proceedings">
                  Current or previous proceedings
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Safety concerns
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetycorncerns/riskofharm/start" aria-describedby="risk-of-harm-or-violence">
                  Risk of harm or violence
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
         </ul>
        </li>
            
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Additional information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="additionalinformation/internationlelement/start" aria-describedby="international-element">
                  International element
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
        	<li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="additionalinformation/attendingcourt/start" aria-describedby="attending-court">
                  Attending court
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
               
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Sign and submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="signandsubmit/statementoftruth/start" aria-describedby="statement-of-truth">
                  Statement of truth
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
         </ul>
        </li>
        <div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Save as draft
  </button>
</div>
      </ol>
    </div>
    <div class="govuk-grid-column-one-third">
    
    		<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>
   			 
   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
   			 
			  </div>
			</details>
    
    </div>
  </div>



{% endblock %}