{% extends "layout.html" %}

{% block pageTitle %}
Child arrangement respondent
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->

{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
              Response submitted successfully
            </h1>
            <div class="govuk-panel__body">
              Case number <br><strong>A162527378</strong>
            </div>
          </div>

          <p class="govuk-body">By submitting this response you have completed the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Your response to the applicant's request</li>
          </ul>

          <h2 class="govuk-heading-m">What happens next</h2>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
            <li>You will receive an email to confirm that the court has received your response.</li>
            <li>If a hearing has not been listed yet, the court will review your response after Cafcass has provided a safeguarding letter.</li>
            <li>You will be contacted by the court staff to find out any needs you have in order to take part in court proceedings.</li>
            <li>If your hearing is due to take place in 3 days and you have still not heard from the court,
              call 0300 123 711 or email <a href="#" class="govuk-link">customer.service@justice.gov.uk</a>.</li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">You can also:</p>

          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">

            <li><a href="#" class="govuk-link">Read more about child arrangements</a></li>
            <li><a href="#" class="govuk-link">Find an organisation that will help you with your case</a></li>
          </ul>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="cya download draft">
                Download a draft of your response (PDF)
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                If you cannot open the PDF file after downloading, download and install
                <a href="https://get.adobe.com/uk/reader/" class="govuk-link" rel="external" target="_blank">Adobe Acrobat Reader</a> to try again.
              </p>
              <p class="govuk-body">
                Please note this draft is for your records. Only the completed application will be admitted in court.
              </p>

              <a class="govuk-button ga-pageLink govuk-button--secondary" role="button" draggable="false" data-module="govuk-button" data-ga-category="check your answers" data-ga-label="download draft" download="" href="/steps/completion/summary.pdf">Download draft application</a>

            </div>
          </details>

            <div class="govuk-!-padding-bottom-6"></div>

          <div class="govuk-button-group">

            <form action="/respondenttasklist/startreply" method="post" novalidate>

              <input type="hidden" name="answers-checked" value="true">

              <button class="govuk-button" data-module="govuk-button" >Continue</button>

            </form>


          </div>


        </div>

        <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>

    </div>

      </div>
    </main>

  </div>

</div>


{% endblock %}
