{% extends "layout.html" %}

{% block pageTitle %}
  Tasklist
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <form action="../respondenttasklist/speakwithcafcass" method="post" novalidate>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Response submitted successfully
            </h1>
            <div class="govuk-panel__body">
              Your reference number<br><strong>HDJ2123F</strong>
            </div>
          </div>

          <p class="govuk-body">By submitting this response you have completed the C7 and C8 forms.</p>

          <h2 class="govuk-heading-m">What happens next</h2>

          <ul class="govuk-list govuk-list--bullet">
           <li>You will receive an email to confirm that the tribunal has received your response</li>
           <li>You will be contacted by the Children and Family Court Advisory and Support Service (CAFFCAS) to go over any safeguarding checks</li>
           <li>A hearing date will be set</li>
         </ul>


         <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="cya download draft">
                Download your response (PDF)
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                  If you cannot open the PDF file after downloading, download and install
                  <a href="https://get.adobe.com/uk/reader/" class="govuk-link" rel="external" target="_blank">Adobe Acrobat Reader</a> to try again.
                </p>


            <a class="govuk-button ga-pageLink govuk-button--secondary" role="button" draggable="false" data-module="govuk-button" data-ga-category="check your answers" data-ga-label="download draft" download="" href="/steps/completion/summary.pdf">Download your response</a>

            </div>
          </details>

        <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Continue</button>

        </div>
      </div>
    </form>
  </main>
</div>



{% endblock %}
