{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper " id="main-content" role="main">

       <form action="../ordersrequired/ordersrequired" method="post" novalidate>

         <span class="govuk-caption-l">Safety concerns</span>
         <h1 class="govuk-heading-xl">Do you have any other concerns about the children’s safety and wellbeing?</h1>
         <div id="more-detail-hint" class="govuk-hint">
           For example, their basic needs are not being met (known as child neglect) or you’re worried about someone they may have contact with.
         </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="proposal-hint">

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abuse-yes" name="abuse" type="radio" data-aria-controls="conditional-abuse">
                <label class="govuk-label govuk-radios__label" for="abuse-yes">Yes</label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-abuse">
            <div class="govuk-form-group">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail">
                    Describe in a few sentences the nature of the behaviour that you want the court to be aware of. Explain who is involved, and if the behaviour is ongoing.
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
                </div>
              </div>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abuse-no" name="abuse" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="abuse-no">No</label>
            </div>
          </div>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-button govuk-button--secondary" href="../../../applicanttasklist/inprogress"  data-module="govuk-button">
            Save and come back later
          </a>

        </div>
      </main>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
