// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "components/progress-bar";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.app-inverted-text, .app-inset-text--inverted {
    color: #ffffff;
    background-color: #1d70b8;
}


.app-inverted--card {
    margin-top: -15px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

@media screen and (min-width:40.0625em) 
{
    .app-inverted--card { padding: 40px; }

}

.app-button--inverted, .app-button--inverted:link, .app-button--inverted:visited {
    color: #1d70b8;
    background-color: #ffffff;
    box-shadow: 0 2px 0 #144e81;
}

.app-button--l {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    min-height: auto;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}


@media screen and (min-width: 40.0625em) {
    .app-button--l {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1;
    }

}

.app-link--inverted:hover {
    color: #e8f1f8;
}

.app-link--inverted, .app-link--inverted:link, .app-link--inverted:active, .app-link--inverted:visited {
    color: #ffffff;
    font-weight: 700;
}

.app-inset-text--inverted {
    font-weight: 700;
    border-left: 10px solid #ffffff;
}


