{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}






  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your documents have been uploaded
          </h3>
        </div>
      </div>



      <h1 class="govuk-heading-l">Upload documents</h1>

        <p class="govuk-body">Upload a document or multiple documents here</p>

        <!-- start components here -->

        <div class="uploadcomponent">
              
          <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">

            <label class="govuk-label govuk-!-font-weight-bold" for="file-upload-1">
            Document:
            </label>

            <div class="file-upload--border">
              <input class="govuk-file-upload govuk-!-font-size-16" id="file-upload-1" name="file-upload-1" type="file">
            </div>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text govuk-!-font-size-16">
                <span class="govuk-warning-text__assistive">Warning</span>
                Check if the documents are confidential
              </strong>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <p class="govuk-body govuk-!-font-size-16">
                  Tick to restrict access to only Cafcass and HMCTS staff (Optional)
                  </p>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-16" for="waste">
                      Yes - restrict to this group (part of checkbox)
                    </label>
                  </div>
                </div>
            
              </fieldset>
            </div>

          </div>

          <div class="govuk-grid-column-one-quarter">
            <button class="govuk-button govuk-button--secondary govuk-!-font-size-16 remove-button" data-module="govuk-button">
              Remove
            </button>
          </div>

        </div>


        <div class="govuk-grid-column-full">


          <button class="govuk-button upload-addnew" data-module="govuk-button">
            Add another document
          </button>     
          
          <br>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Upload documents
          </button>



        </div>





        <!-- end components here -->

        </div>


        <div class="govuk-grid-column-one-third">

        </div>



</div>




<br><br><br><br>

        
<div class="govuk-button-group">

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Previous
  </button>
  
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>


</div>



{% endblock %}