{% extends "layout.html" %}

{% block pageTitle %}
  Hearing details
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Non Molestation and Occupation",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
  




 <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl govuk-!-margin-top-6">
        Your court hearings
      </h1>
        <p class="govuk-body">Case number: #1636575673018538</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h3 class="govuk-heading-l">Your next hearing</h3>

        <h4 class="govuk-heading-m govuk-!-margin-left-9">
          Final hearing
        </h4>
      <h4 class="govuk-heading-s govuk-!-margin-left-9"> You must attend this hearing</h4>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-left-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date
        </dt>
        <dd class="govuk-summary-list__value">
          Monday 12 July 2021
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Time
        </dt>
        <dd class="govuk-summary-list__value">
          10:30am
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Duration of hearing
        </dt>
        <dd class="govuk-summary-list__value">
          2 hours
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Type of hearing
        </dt>
        <dd class="govuk-summary-list__value">
          Remote (by telephone or video)
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Hearing link
        </dt>
        <dd class="govuk-summary-list__value">
          The court will email you instructions to join the hearing
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Court name
        </dt>
        <dd class="govuk-summary-list__value">
          Bristol family court
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="aboutyou/tellusyourhearingneeds/languagerequirements" aria-describedby="application-detail-about-you">
            Your support needs
          </a>
        </dd>
      </div>


  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hearing notice
        </dt>
        <dd class="govuk-summary-list__value">
          Check all details of the hearing in the hearing notice<br>
          <a href="aboutyou/tellusyourhearingneeds/languagerequirements" aria-describedby="application-detail-about-you">
            Hearing-notice-pdf
          </a>
        </dd>
      </div>


<!--       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Virtual hearing
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#" aria-describedby="application-detail-about-you">
            Hearing link
          </a>
        </dd>
      </div> -->

    </dl>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



    <h3 class="govuk-heading-l">Your previous hearings</h3>
    <div>
      <h4 class="govuk-heading-m govuk-!-margin-left-9">
        First hearing
      </h4>
    </div>

    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-left-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date
        </dt>
        <dd class="govuk-summary-list__value">
          Monday 28 June 2021
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Time
        </dt>
        <dd class="govuk-summary-list__value">
          9am
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Type of hearing
        </dt>
        <dd class="govuk-summary-list__value">
          In person
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Court name
        </dt>
        <dd class="govuk-summary-list__value">
          Bristol family court
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Court address
        </dt>
        <dd class="govuk-summary-list__value">
            Bristol  Avenue, Bristol, BL1 2A3<br>
            <a href="">Useful documents (Map)</a>
        </dd>
      </div>



<!--       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Virtual hearing
        </dt>
        <dd class="govuk-summary-list__value">
          Not available
        </dd>
      </div> -->


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Hearing outcome 
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="">HearingOutcome.pdf</a>
        </dd>
      </div>




    </dl>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div>
      <h4 class="govuk-heading-l">
        Pre-hearing review
      </h4>
    </div>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-left-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Date
          </dt>
          <dd class="govuk-summary-list__value">
            Thursday 17 June 2021
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Time
          </dt>
          <dd class="govuk-summary-list__value">
            11:30am
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Type of hearing
          </dt>
          <dd class="govuk-summary-list__value">
            In person
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Court name
          </dt>
          <dd class="govuk-summary-list__value">
            Bristol family court
          </dd>
        </div>
  
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Court address
          </dt>
          <dd class="govuk-summary-list__value">
              Bristol  Avenue, Bristol, BL1 2A3<br>
              <a href="">Useful documents (Map)</a>
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Hearing outcome 
            </dt>
            <dd class="govuk-summary-list__value">
                <a href="">HearingOutcome.pdf</a>
            </dd>
          </div>
  
  
      </dl>




      <div class="govuk-button-group">
        <a class="govuk-link govuk-button govuk-button--secondary" href="/applicantjourney/start">Go back</a>
       </div>








</div>



<div class="govuk-grid-column-one-third">

   
    	<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>





  </div>





  </div>



{% endblock %}
