{% extends "layout.html" %}

{% block pageTitle %}
 Applicant tasklist
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Non Molestation and Occupation",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
     
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>
      <p class="govuk-body">Case number: #1636575673018538</p>
  </div>

  <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="hmcts-progress-bar-vertical" role="progressbar">
        <ol class="hmcts-progress-bar__list">
        
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Current Step 1: </span>Application submitted</span>
          </li>
          
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 2: </span>Hearings</span>
          </li>
          
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 3: </span>Orders & hearings outcome</span>
          </li>

          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 4: </span>Case closed</span>
          </li>

        </ol>
      </div> 



      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">We are reviewing your application.</p>
          <p class="govuk-body">We will email you to tell you what you need to do next. </p>
          <p class="govuk-body">You should check the <strong><span style="color:#1d70b8">About you section</span></strong> and make sure the information is up to date.</p>
          <p class="govuk-body">
            <a href="/public/docs/fl401.pdf" target="_blank" aria-describedby="">Application submitted (FL401)</a><br>
            <a href="aboutyou/confidentiality/detailsknown" target="_blank" aria-describedby="">Keep your details private</a><br>
            <a href="/public/docs/witness.pdf" target="_blank" aria-describedby="">Witness statement</a>
          </p>
        </div>
      </div>

      <ol class="app-task-list">

<!--  out of scope for release 2 -->
<!---
        <li>
          <h2 class="app-task-list__section">
             Messages
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="messages" aria-describedby="eligibility-status">
                 Send and reply to messages
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--red" id="eligibility-status">NEW</strong>
            </li>
          </ul>
        </li>  -->



        <li>
          <h2 class="app-task-list__section">
             About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confidentiality/detailsknown" aria-describedby="eligibility-status">
                  Keep your details private
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green" id="eligibility-status">COMPLETED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confirmcontactdetails/checkanswers" aria-describedby="read-declaration-status">
                  Confirm or edit your contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green" id="eligibility-status">COMPLETED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/tellusyourhearingneeds/languagerequirements" aria-describedby="application-detail-about-you">
                  Your needs when you go to court
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--grey" id="submit-pay-status">TO DO</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/public/docs/fl401.pdf" target="_blank">
                  Application submitted (FL401)
                  </a>
              </span>
              <a href="/public/docs/fl401.pdf"  target="_blank" aria-describedby="company-information-status">
                <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green" id="company-information-status">DOWNLOAD</strong>
              </a>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/public/docs/witness.pdf" target="_blank">Witness statement</a>
              </span>
              <a href="/public/docs/witness.pdf"  target="_blank"aria-describedby="company-information-status">
                <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green" id="company-information-status">DOWNLOAD</strong>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Your court hearings
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="hearings" aria-describedby="application-detail-about-you">
                  Check details of your court hearings
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--blue" id="submit-pay-status">PENDING</strong>
            </li>
          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
             Orders from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="orders" aria-describedby="risk-of-harm-or-violence">
                  Orders
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--blue" id="submit-pay-status">PENDING</strong>
            </li>
         </ul>
        </li>




        <li>
          <h2 class="app-task-list__section">
             Your documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/uploadv1/uploaddocumentsv1" aria-describedby="risk-of-harm-or-violence"> 
                  Upload a document
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--blue" id="submit-pay-status">PENDING</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="alldocuments" aria-describedby="risk-of-harm-or-violence">
                  See all documents
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--blue" id="submit-pay-status">PENDING</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="alternatealldocuments" aria-describedby="risk-of-harm-or-violence">
                  See all documents ( alternate view )
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--blue" id="submit-pay-status">PENDING</strong>
            </li>
         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Final decision from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="alldocuments#finaldecision" aria-describedby="international-element">
                  View your final order
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="submit-pay-status">PENDING</strong>
            </li>

          </ul>
        </li>
      </ol>

  </div>
  <div class="govuk-grid-column-one-third">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">


      <h2 class="govuk-heading-m">
        I want to...
      </h2>

      <ul class="govuk-list">

        <li>
          <a class="govuk-link" href="https://www.gov.uk/find-court-tribunal" target="_blank">Find my local court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help#get-help-and-support" target="_blank">Find legal advice</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717671/fl700-eng.pdf" target="_blank">Know more about domestic abuse</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal" target="_blank">Know more about attending court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.justice.gov.uk/courts/procedure-rules/family/parts/part_29#IDABPVKC" target="_blank">Withdraw my application</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>



    	<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>





  </div>
</div>









{% endblock %}
