{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="languagerequirements" method="post" novalidate>

                 <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                   <h2 class="govuk-error-summary__title" id="error-summary-title">
                     There is a problem on this page
                   </h2>
                   <div class="govuk-error-summary__body">
                     <ul class="govuk-list govuk-error-summary__list">
                       <li>
                         <a href="#solicitor">Select whether you can take part in a video or a phone hearing</a>
                       </li>
                     </ul>
                   </div>
                 </div>

                 <span class="govuk-caption-l">Attending the court</span>
                 <h1 class="govuk-heading-xl">Would you be able to take part in hearings by video and phone?</h1>

                 <p class="govuk-body">If your case goes to a hearing, it can take place either:
                   <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7 govuk-!-margin-bottom-6">
                     <li>in person, in a room at a venue ('face-to-face')</li>
                     <li>by video (where you can join from a place suitable to you)</li>
                     <li>by phone</li>
                   </ul>

                 </p>

                 <p class="govuk-body">Some hearings use a combination of these methods. The approach taken will be decided by a judge.</p>

                 <p id="where-do-you-live-error" class="govuk-error-message">
                   <span class="govuk-visually-hidden">Error:</span>Select whether you can take part in a video or a phone hearing
                 </p>
                 <div class="govuk-form-group govuk-form-group--error">
                   <fieldset class="govuk-fieldset" aria-describedby="where-do-you-live-error">
                   <div id="remotehearing-hint" class="govuk-hint">
                     Select all that apply
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="videohearing" name="remotehearing" type="checkbox" value="Yes, I can take part in video hearings">
                       <label class="govuk-label govuk-checkboxes__label" for="videohearing">
                         Yes, I can take part in video hearings

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="phonehearing" name="remotehearing" type="checkbox" value="Yes, I can take part in phone hearings">
                       <label class="govuk-label govuk-checkboxes__label" for="phonehearing">
                         Yes, I can take part in phone hearings

                       </label>
                     </div>


                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="nophoneorvideo" name="remotehearing" type="checkbox" value="No, I cannot take part in either video or phone hearings" data-behaviour="exclusive" aria-controls="nophoneorvideo-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="nophoneorvideo">
                         No, I cannot take part in either video or phone hearings

                       <div id="remotehearing4-hint" class="govuk-hint">
                         If you choose this option please tell us why in case we can assist you
                       </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="nophoneorvideo-conditional">
                       <div class="govuk-form-group">
                         <label for="nophoneorvideo-details" class="govuk-label">Explain why you are unable to take part in video or phone hearings</label>
                         <textarea id="nophoneorvideo-details" class="govuk-textarea" rows="3" name="nophoneorvideo-details">
                         </textarea>
                       </div>
                       </div>
                   </div>

                 </fieldset>
               </div>


               <div class="govuk-button-group govuk-!-margin-top-6">
                 <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                 </button>
                 
               </div>





              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
