{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="start" method="post" novalidate>
                 <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                   <h2 class="govuk-error-summary__title" id="error-summary-title">
                     There is a problem on this page
                   </h2>
                   <div class="govuk-error-summary__body">
                     <ul class="govuk-list govuk-error-summary__list">
                       <li>
                         <a href="#solicitor">Give details of the special arrangements you or the children need</a>
                       </li>
                     </ul>
                   </div>
                 </div>
                 <span class="govuk-caption-l">Special arrangements</span>
                 <h1 class="govuk-heading-xl">Do you or the children need special arrangements at court?</h1>

               <div class="govuk-inset-text">

                 You or the children may need certain arrangements when you attend the court. Some of these arrangements will need to be agreed by the judge or HMCTS. If your needs change, you can discuss this with the court.
               </div>

               <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset" aria-describedby="reasonable-adjustments-hint">
                   <div id="reasonable-adjustments-hint" class="govuk-hint">
                     Select all that apply to you
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments" name="reasonable-adjustments" type="checkbox" value="I need documents in an alternative format">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         Separate waiting room


                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-2" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                        Separate exits and entrances

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-2" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         Screens so you and the other people in the case cannot see each other
                        <div id="reasonable-adjustments-1-hint" class="govuk-hint">
                          This needs to be approved by a judge
                        </div>
                       </label>
                     </div>

                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-2" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                        Separate toilets

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-2" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                        Visit to court before the hearing

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-2" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                        Video links
                        <div id="reasonable-adjustments-1-hint" class="govuk-hint">
                          This needs to be approved by a judge
                        </div>

                       </label>
                     </div>

                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-3" name="reasonable-adjustments" type="checkbox" value="I need to bring support with me to a hearing" aria-controls="certain-interpreter-conditional" checked="checked">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         Other
                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="certain-interpreter-conditional">
                         <div class="govuk-form-group govuk-form-group--error">
                           <p id="where-do-you-live-error" class="govuk-error-message">
                             <span class="govuk-visually-hidden">Error:</span>Give details of the special arrangements you or the children need
                           </p>
                           <label for="steps-attending-court-language-form-language-interpreter-details-field" class="govuk-label">Provide details of what you or the children need</label>
                           <textarea id="steps-attending-court-language-form-language-interpreter-details-field" class="govuk-textarea" rows="2" name="steps_attending_court_language_form[language_interpreter_details]">
                           </textarea>
                         </div>

                       </div>
                     </div>



                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-none" name="reasonable-adjustments" type="checkbox" value="No, I do not need any extra support at this time" data-behaviour="exclusive">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments-none">
                         No, I do not have any safety requirements at this time
                       </label>
                     </div>
                   </div>

                 </fieldset>
               </div>


               <div class="govuk-button-group govuk-!-margin-top-6">
                 <button class="govuk-button" data-module="govuk-button">
                   Continue
                 </button>

               </div>





              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
