{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="start-answer" method="post" novalidate>
                 <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                   <h2 class="govuk-error-summary__title" id="error-summary-title">
                     There is a problem on this page
                   </h2>
                   <div class="govuk-error-summary__body">
                     <ul class="govuk-list govuk-error-summary__list">
                       <li>
                         <a href="#solicitor">Select whether or not you have a physical, mental or learning disability or health condition that means you need support during your case</a>
                       </li>
                     </ul>
                   </div>
                 </div>

                 <span class="govuk-caption-l">Reasonable adjustments</span>
                 <h1 class="govuk-heading-xl">Do you have a physical, mental or learning disability or health condition that means you need support during your case?</h1>

               <div class="govuk-inset-text">
                 We know some people need support to access information and use our services. We often call this a reasonable adjustment. Some reasonable adjustments need to be agreed by the judge or HMCTS. You can discuss with the court if your needs change.
               </div>

               <div class="govuk-form-group govuk-form-group--error">
                 <p id="where-do-you-live-error" class="govuk-error-message">
                   <span class="govuk-visually-hidden">Error:</span>Select whether  or not you have a physical, mental or learning disability or health condition that means you need support during your case
                 </p>
                 <fieldset class="govuk-fieldset" aria-describedby="reasonable-adjustments-hint">
                   <div id="reasonable-adjustments-hint" class="govuk-hint">
                     Select all that apply to you - specific requirements can be given next
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="alternative-format" name="reasonable-adjustments" type="checkbox" value="I need documents in an alternative format">
                       <label class="govuk-label govuk-checkboxes__label" for="alternative-format">
                         I need documents in an alternative format
                         <div id="reasonable-adjustments-1-hint" class="govuk-hint">
                           for example, braille or different colours and text sizes
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="help-communicating" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding">
                       <label class="govuk-label govuk-checkboxes__label" for="help-communicating">
                         I need help communicating and understanding
                         <div id="reasonable-adjustments-2-hint" class="govuk-hint">
                           for example, hearing, speaking or interpretation
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="bring-support" name="reasonable-adjustments" type="checkbox" value="I need to bring support with me to a hearing">
                       <label class="govuk-label govuk-checkboxes__label" for="bring-support">
                         I need to bring support with me to a hearing
                         <div id="reasonable-adjustments-3-hint" class="govuk-hint">
                           for example, someone you know or an assistance dog
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="feel-comfortable" name="reasonable-adjustments" type="checkbox" value="I need something to feel comfortable during a hearing">
                       <label class="govuk-label govuk-checkboxes__label" for="feel-comfortable">
                         I need something to feel comfortable during a hearing
                         <div id="reasonable-adjustments-4-hint" class="govuk-hint">
                           for example, breaks or extra space
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="help-travelling" name="reasonable-adjustments" type="checkbox" value="I need help travelling to, or moving around court building">
                       <label class="govuk-label govuk-checkboxes__label" for="help-travelling">
                         I need help travelling to, or moving around court buildings
                         <div id="reasonable-adjustments-5-hint" class="govuk-hint">
                           for example, access and mobility support if a hearing takes place in person
                         </div>
                       </label>
                     </div>

                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-none" name="reasonable-adjustments" type="checkbox" value="No" data-behaviour="exclusive">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments-none">
                         No, I do not need any extra support at this time
                       </label>
                     </div>
                   </div>

                 </fieldset>
               </div>


               <div class="govuk-button-group govuk-!-margin-top-6">
                 <button class="govuk-button" data-module="govuk-button">
                   Continue
                 </button>


               </div>




              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
