{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="tofeelcomfortable" method="post" novalidate>
                 <span class="govuk-caption-l">Reasonable adjustments</span>
                 <h1 class="govuk-heading-xl">I need to bring support with me to a court hearing</h1>

               <div class="govuk-inset-text">
                 Consider in-person, phone or video, in case your preferred hearing type is not possible
               </div>

               <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset" aria-describedby="reasonable-adjustments-hint">
                   <div id="reasonable-adjustments-hint" class="govuk-hint">
                    Select all that apply to you
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments" name="reasonable-adjustments" type="checkbox" value="I need documents in an alternative format" aria-controls="reasonable-adjustments-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         A support worker or carer

                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="reasonable-adjustments-conditional">
                         <div class="govuk-form-group">
                           <label for="reasonable-adjustment-details" class="govuk-label">Tell us who you will bring</label>
                           <textarea id="reasonable-adjustment-details" class="govuk-textarea" rows="1" name="reasonable-adjustment-details">
                           </textarea>
                         </div>
                         </div>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-2" name="reasonable-adjustments" type="checkbox" value="I need help communicating and understanding" aria-controls="reasonable-adjustments-2-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         A friend or family member

                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="reasonable-adjustments-2-conditional">
                         <div class="govuk-form-group">
                           <label for="reasonable-adjustment-details" class="govuk-label">Tell us who you will bring</label>
                           <textarea id="reasonable-adjustment-details-2" class="govuk-textarea" rows="1" name="reasonable-adjustment-details-2">
                           </textarea>
                         </div>
                         </div>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-3" name="reasonable-adjustments" type="checkbox" value="I need to bring support with me to a hearing">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         Assistance / guide dog

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-4" name="reasonable-adjustments" type="checkbox" value="I need something to feel comfortable during a hearing" aria-controls="reasonable-adjustments-4-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         Therapy animal

                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="reasonable-adjustments-4-conditional">
                         <div class="govuk-form-group">
                           <label for="reasonable-adjustment-details" class="govuk-label">Describe what you need</label>
                           <textarea id="reasonable-adjustment-details-2" class="govuk-textarea" rows="1" name="reasonable-adjustment-details-2">
                           </textarea>
                         </div>
                         </div>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-3" name="reasonable-adjustments" type="checkbox" value="I need to bring support with me to a hearing" aria-controls="certain-interpreter-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments">
                         Other
                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="certain-interpreter-conditional">
                         <div class="govuk-form-group">
                           <label for="steps-attending-court-language-form-language-interpreter-details-field" class="govuk-label">Describe what you need</label>
                           <textarea id="steps-attending-court-language-form-language-interpreter-details-field" class="govuk-textarea" rows="2" name="steps_attending_court_language_form[language_interpreter_details]">
                           </textarea>
                         </div>
                         </div>
                         </div>

                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="reasonable-adjustments-none" name="reasonable-adjustments" type="checkbox" value="No, I do not need any extra support at this time" data-behaviour="exclusive">
                       <label class="govuk-label govuk-checkboxes__label" for="reasonable-adjustments-none">
                         No, I do not need any support at this time
                       </label>
                     </div>
                   </div>

                 </fieldset>
               </div>


               <button class="govuk-button" data-module="govuk-button" type="submit">
                 Save and continue
               </button>





              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
