{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
          <form action="courthearings" method="post" novalidate>
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="steps-attending-court-intermediary-form-intermediary-help-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                          <span class="govuk-caption-l govuk-!-padding-bottom-2">Requirements to attend court</span>
                          Do you know if anyone in this applicantion will require an intermediary?
                        </h1>
                        </legend><span class="govuk-hint" id="steps-attending-court-intermediary-form-intermediary-help-hint">The court can appoint an intermediary for vulnerable applicants. The intermediary helps the applicant to communicate and give evidence during the case.</span>
                  <div class="govuk-!-padding-bottom-4"></div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input id="steps-attending-court-intermediary-form-intermediary-help-yes-field" class="govuk-radios__input" type="radio" value="yes" name="steps_attending_court_intermediary_form[intermediary_help]" aria-controls="steps-attending-court-intermediary-form-intermediary-help-yes-conditional" aria-expanded="true">
                      <label for="steps-attending-court-intermediary-form-intermediary-help-yes-field" class="govuk-label govuk-radios__label">Yes</label>
                    </div>
                    <div class="govuk-radios__conditional" id="steps-attending-court-intermediary-form-intermediary-help-yes-conditional">
                      <div class="govuk-form-group">
                        <label for="steps-attending-court-intermediary-form-intermediary-help-details-field" class="govuk-label">Set out the reasons that an intermediary is required.</label>
                        <textarea id="steps-attending-court-intermediary-form-intermediary-help-details-field" class="govuk-textarea" rows="5" name="steps_attending_court_intermediary_form[intermediary_help_details]"></textarea>
                      </div>
                    </div>

                    <div class="govuk-radios__item">
                      <input id="steps-attending-court-intermediary-form-intermediary-help-no-field" class="govuk-radios__input" type="radio" value="no" name="steps_attending_court_intermediary_form[intermediary_help]">
                      <label for="steps-attending-court-intermediary-form-intermediary-help-no-field" class="govuk-label govuk-radios__label">No</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input id="steps-attending-court-intermediary-form-intermediary-help-no-field" class="govuk-radios__input" type="radio" value="no" name="steps_attending_court_intermediary_form[intermediary_help]">
                      <label for="steps-attending-court-intermediary-form-intermediary-help-no-field" class="govuk-label govuk-radios__label">Do not know</label>
                    </div>
                    </div>
                  </fieldset>
                  </div>

                    <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Continue</button>

                
            </form>



          </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
