{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="start" method="post" novalidate>
                 <span class="govuk-caption-l">Special arrangements</span>
                 <h1 class="govuk-heading-xl">Do you or the children need special arrangements at court?</h1>

               <div class="govuk-inset-text">
                  You or the children may need certain arrangements when you attend the court. Some of these arrangements will need to be agreed by the judge or HMCTS. If your needs change, you can discuss this with the court.
               </div>

               <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset" aria-describedby="safetyrequirements-hint">
                   <div id="safetyrequirements-hint" class="govuk-hint">
                     Select all that apply to you
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-1" name="safetyrequirements" type="checkbox" value="Separate waiting room">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-1">
                         Separate waiting room


                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-2" name="safetyrequirements" type="checkbox" value="Separate exits and entrances">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-2">
                        Separate exits and entrances

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-3" name="safetyrequirements" type="checkbox" value="Screens so you and the other people in the case cannot see each other">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-3">
                         Screens so you and the other people in the case cannot see each other
                        <div id="safetyrequirements-1-hint" class="govuk-hint">
                          This needs to be approved by a judge
                        </div>
                       </label>
                     </div>

                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-4" name="safetyrequirements" type="checkbox" value="Separate toilets">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-4">
                        Separate toilets

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-5" name="safetyrequirements" type="checkbox" value="  Visit to court before the hearing">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-5">
                        Visit to court before the hearing

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-6" name="safetyrequirements" type="checkbox" value="Video links">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-6">
                        Video links
                        <div id="safetyrequirements-1-hint" class="govuk-hint">
                          This needs to be approved by a judge
                        </div>

                       </label>
                     </div>

                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-7" name="safetyrequirements" type="checkbox" value="Other - " aria-controls="certain-interpreter-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-7">
                         Other
                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="certain-interpreter-conditional">
                         <div class="govuk-form-group">
                           <label for="safetyrequirements-label" class="govuk-label">Provide details of what you or the children need</label>
                           <textarea id="safetyrequirements-textarea" class="govuk-textarea" rows="2" name="safetyrequirements-textarea">
                           </textarea>
                         </div>

                       </div>
                     </div>



                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="safetyrequirements-none" name="safetyrequirements" type="checkbox" value="No, I do not have any safety requirements at this time" data-behaviour="exclusive">
                       <label class="govuk-label govuk-checkboxes__label" for="safetyrequirements-none">
                         No, I do not have any safety requirements at this time
                       </label>
                     </div>
                   </div>

                 </fieldset>
               </div>


               <button class="govuk-button" data-module="govuk-button" type="submit">
                 Save and continue
               </button>





              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
