{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-width-container">
        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

          <h1 class="govuk-heading-l">Check your answers before continuing your response</h1>

          <h2 class="govuk-heading-m">Risk of harm to the children</h2>

          <form action="/tasklistresponse/start" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sexual abuse
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['MIAM-yes'] }} {{ data['MIAM-no'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Edit<span class="govuk-visually-hidden">MIAM</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Physical abuse
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['MIAM-willing-Yes'] }}{{ data['MIAM-willing-No'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Edit<span class="govuk-visually-hidden">MIAM-willing</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Financial abuse
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['MIAM-willing-Yes'] }}{{ data['MIAM-willing-No'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Edit<span class="govuk-visually-hidden">MIAM-willing</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Psychological abuse
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['MIAM-willing-Yes'] }}{{ data['MIAM-willing-No'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Edit<span class="govuk-visually-hidden">MIAM-willing</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Emotional abuse
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['MIAM-willing-Yes'] }}{{ data['MIAM-willing-No'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Edit<span class="govuk-visually-hidden">MIAM-willing</span>
                  </a>
                </dd>
              </div>
            </dl>


            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>

          </form>


        </main>
      </div>
    </div>
</div>

{% endblock %}
