{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}

<style>
  .govuk-tag { text-transform:none }
</style>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>

  </div>


  <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <img src="../public/images/banners/notstarted.png" width="100%" alt="Progress stage: Response submitted">
      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You have not started your application
          </p>
          <p class="govuk-body">This dashboard will be deleted in 1 month from its creation if you do not submit the application.</p>

          <p class="govuk-notification-banner__heading">
            <a class="govuk-notification-banner__link" href="../c100/start">Start the application</a>
          </p>


        </div>
      </div>

      <ol class="app-task-list">


        <li>
          <h2 class="app-task-list__section">
             Your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../c100/start" aria-describedby="company-information-status">
                  Complete the application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--red" id="company-information-status">Not started yet</strong>
            </li>


          </ul>
        </li>







        <li>
          <h2 class="app-task-list__section">
             Your documents
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/uploadv1/uploaddocumentsv1" aria-describedby="upload-document">
                  Upload documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="submit-pay-status">Optional</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/alldocuments/alldocuments" aria-describedby="risk-of-harm-or-violence">
                  View all documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag govuk-tag--grey" id="submit-pay-status">Not available yet</strong>
            </li>

         </ul>
        </li>




      </ol>

  </div>
  <div class="govuk-grid-column-one-third">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">


      <h2 class="govuk-heading-m">
        I want to...
      </h2>

      <ul class="govuk-list">

        <li>
          <a class="govuk-link" href="#">Find my local court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Find legal advice</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about child arrangements</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about attending court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
        Contacts for help
        </span>
      </summary>
      <div class="govuk-details__text">
       Ask a question or get any help in any language
       <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

       <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
       <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
       <a href="#" class="govuk-link">Find out about call charges</a>
       <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

      </div>
    </details>

  </div>
  </div>










{% endblock %}
