{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

     <div class="govuk-width-container">

       <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

       <main class="govuk-main-wrapper " id="main-content" role="main">

             <form action="withoutnotice" method="post" novalidate>

               <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset">

                  <h1 class="govuk-heading-xl">Details of urgent first hearing</h1>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                          Reason for urgent initial hearing
                        </h2>
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="safety" name="urgency-reason" type="radio" value="safety">
                          <label class="govuk-label govuk-radios__label" for="safety">
                            Risk to my safety or the children's safety
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="abduction" name="urgency-reason" type="radio" value="abduction">
                          <label class="govuk-label govuk-radios__label" for="abduction">
                            Risk that the children will be abducted
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="otherproceedings" name="urgency-reason" type="radio" value="otherproceedings">
                          <label class="govuk-label govuk-radios__label" for="otherproceedings">
                            Legal proceedings taking place overseas
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="other" name="urgency-reason" type="radio" value="other">
                          <label class="govuk-label govuk-radios__label" for="other">
                            Other risks
                          </label>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
                    <h2 for="urgenthearing-details" class="govuk-heading-m">Give details of the risk in your case</h2>
                    <span class="govuk-hint" id="urgenthearing-details-details-hint">The court will only give you an earlier hearing date if there are risk factors in your case. Otherwise, your request will be rejected.</span>
                    <textarea id="urgenthearing-details-details" class="govuk-textarea" rows="5" aria-describedby="urgenthearing-details-details-hint" name="urgenthearing-details">
                    </textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label for="surgenthearing-when" class="govuk-heading-m">How soon do you need the hearing to take place?</label>
                    <input id="surgenthearing-when" class="govuk-input" type="text" name="surgenthearing-when">
                  </div>

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <span class="govuk-fieldset__heading">Do you need a hearing within the next 48 hours?</span>
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input id="shortnotice-yes" class="govuk-radios__input" type="radio" value="yes" name="shortnotice" aria-controls="shortnotice-yes-conditional" aria-expanded="false">
                          <label for="shortnotice-yes" class="govuk-label govuk-radios__label">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="shortnotice-yes-conditional">
                          <div class="govuk-form-group">
                            <label for="shortnotice-details" class="govuk-label">What have you done to inform each respondent of your application?</label>
                            <span class="govuk-hint" id="shortnotice-hint">The court will expect you to tell the other people involved in the case that you are making the application, unless you have a good reason not to.</span>
                            <textarea id="shortnotice-textarea" class="govuk-textarea" rows="5" aria-describedby="shortnotice-textarea-hint" name="shortnotice-textarea"></textarea>
                          </div>
                        </div>
                        <div class="govuk-radios__item">
                          <input id="shortnotice-no" class="govuk-radios__input" type="radio" value="no" name="shortnotice">
                          <label for="shortnotice-no" class="govuk-label govuk-radios__label">No</label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>


                <div class="govuk-button-group govuk-!-margin-top-6">
                  <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                  </button>
                  <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
                    Save and come back later
                  </a>

                </div>



      </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
  			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
  		  </div>
  	</details>
  </div>
</div>



{% endblock %}
