{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="../start" method="post" novalidate>


         <h1 class="govuk-heading-xl">Complete your response</h1>

         <p class="govuk-body">Continue to complete your response to the applicant's request for child arrangement. Once all mandatory sections are complete, a Review and submit button will become available.</p>


          <h3 class="govuk-heading-m">Transferring your case to your legal representative</h3>
            <p class="govuk-body">If you are planning on using a legal representative after you submit your response, share with them your case number. Once your case is transferred, you will not be able to make changes to your response.</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>Your case number is: xxx</li>

            </ul>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Please do not respond to the application if you plan to have your legal representative complete it for you.
              </strong>
            </div>

            <div class="govuk-!-padding-bottom-4"></div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>




       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
