{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="generalreasons-answer" method="post" novalidate>

                 <span class="govuk-caption-l">MIAM exemptions</span>
                 <h1 class="govuk-heading-xl">What is your reason to be exempt from a MIAM?</h1>

               <div class="govuk-inset-text">
                 You’ve told us you have a valid reason for not attending a MIAM. The following questions will ask what evidence you have in support of this.
               </div>

               <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset" aria-describedby="reasonable-adjustments-hint">
                   <div id="reasonable-adjustments-hint" class="govuk-hint">
                     Select all that apply to you
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="domesticabuse" name="exemptionreasons" type="checkbox" value="Domestic abuse">
                       <label class="govuk-label govuk-checkboxes__label" for="domesticabuse">
                         Domestic abuse
                         <div id="reasonable-adjustments-1-hint" class="govuk-hint">
                           for example,
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="protectionconcerns" name="exemptionreasons" type="checkbox" value="Child protection concerns">
                       <label class="govuk-label govuk-checkboxes__label" for="protectionconcerns">
                         Child protection concerns
                         <div id="reasonable-adjustments-2-hint" class="govuk-hint">
                           for example,
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="urgency" name="exemptionreasons" type="checkbox" value="Urgency">
                       <label class="govuk-label govuk-checkboxes__label" for="urgency">
                         Urgency
                         <div id="reasonable-adjustments-3-hint" class="govuk-hint">
                           for example,
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="previousmiam" name="exemptionreasons" type="checkbox" value="Previous MIAM attendance">
                       <label class="govuk-label govuk-checkboxes__label" for="previousmiam">
                         Previous MIAM attendance or previous MIAM exemption
                         <div id="reasonable-adjustments-4-hint" class="govuk-hint">
                           for example,
                         </div>
                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="other" name="exemptionreasons" type="checkbox" value="Other">
                       <label class="govuk-label govuk-checkboxes__label" for="other">
                         Other
                         <div id="reasonable-adjustments-5-hint" class="govuk-hint">
                           for example,
                         </div>
                       </label>
                     </div>

                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="none" name="exemptionreasons" type="checkbox" value="None" data-behaviour="exclusive">
                       <label class="govuk-label govuk-checkboxes__label" for="one">
                         None of the above
                       </label>
                     </div>
                   </div>

                 </fieldset>
               </div>


               <div class="govuk-button-group govuk-!-margin-top-6">
                 <button class="govuk-button" data-module="govuk-button">
                   Save and continue
                 </button>
                 <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
                   Save and come back later
                 </a>

               </div>





              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
