{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         

               <h1 class="govuk-heading-xl">You must attend a MIAM</h1>

               <p class="govuk-body-l">
                 You have not provided a valid reason for not attending a MIAM. You’re legally required to attend one if you want to
                 go to court to resolve a dispute involving the children.
               </p>

               <p class="govuk-body">You need to follow these steps before continuing with your application:</p>

               <ol class="govuk-list govuk-list--number app-list--icon-steps">
                 <li>
                   <form action="https://www.familymediationcouncil.org.uk/find-local-mediator/" target="_blank">
                     <input type="hidden" name="di" value="5">
                     <div class="govuk-form-group govuk-!-margin-bottom-3">
                       <label for="postcode-field" class="govuk-label">Enter your postcode to find a mediator</label>
                       <input id="postcode-field" class="govuk-input govuk-!-width-one-third" autocomplete="postal-code" type="text" value="" name="pc">
                     </div>
                     <div class="govuk-!-padding-bottom-1"></div>
                     <input type="submit" name="commit" value="Find a mediator" class="govuk-button govuk-!-margin-bottom-1 ga-clickAction" formnovalidate="formnovalidate" data-module="govuk-button" data-ga-category="miam kickout" data-ga-action="submit" data-ga-label="fmc postcode" data-prevent-double-click="true" data-disable-with="Find a mediator">
                   </form>
                 </li>
                 <div class="govuk-!-padding-bottom-6"></div>
                 <li>Book initial meeting with mediator</li>
                 <div class="govuk-!-padding-bottom-6"></div>
                 <li>Attend the MIAM</li>
                 <div class="govuk-!-padding-bottom-6"></div>
                 <li>Ask the mediator for a document confirming your attendance</li>
               </ol>
               <div class="govuk-!-padding-bottom-4"></div>

               <p class="govuk-body">Alternatively you can <a href="https://helpwithchildarrangements.service.justice.gov.uk" class="govuk-link" rel="external" target="_blank">read the child arrangements guide</a> to see if there’s a more suitable option than going to court.
               </p>

               <h2 class="govuk-heading-m govuk-!-margin-top-6">We’d like your feedback</h2>

                 <p class="govuk-body">
                   Would you like
                   to <a rel="external" target="_blank" class="govuk-link" href="https://c100.service.justice.gov.uk/exit_survey">complete a 5-minute survey</a>
                   to give us your feedback about the online service you have just used? This will help us to improve it.
                 </p>
       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
