{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
     <a href="#" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="hmcts-progress-bar-vertical" role="progressbar">
        <ol class="hmcts-progress-bar__list">
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Current Step 1: </span>Application submitted</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 2: </span>Hearings</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 3: </span>Orders &amp; hearings outcome</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 4: </span>Case closed</span>
          </li>
        </ol>
      </div>
      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You have been sent a final order.
          </p>
            <p class="govuk-notification-banner__heading">
              <a class="govuk-notification-banner__link" href="#">View details of your final order</a>
            </p>

        </div>
      </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
             About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confidentiality/detailsknown" aria-describedby="eligibility-status">
                  Keep your details private
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--grey" id="eligibility-status">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confirmcontactdetails/checkanswers" aria-describedby="read-declaration-status">
                  Confirm or edit your contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--grey" id="eligibility-status">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/tellusyourhearingneeds/languagerequirements" aria-describedby="read-declaration-status">
                  Your needs when you go to court
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--grey" id="eligibility-status">To do</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             The application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../public/pdf/C100FinalDocument.pdf" target="_blank" aria-describedby="company-information-status">
                  Check the application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--green" id="company-information-status">Complete</strong>
            </li>
            
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Your court hearings
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourhearings/hearings" aria-describedby="application-detail-about-you">
                  Check details of your court hearings
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag govuk-tag--green" id="submit-pay-status">Complete</strong>
            </li>


          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
             Your documents
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/uploadv1/uploaddocumentsv1" aria-describedby="risk-of-harm-or-violence">
                  Upload a document (Task list)
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/uploadv2/uploaddocumentsv2" aria-describedby="risk-of-harm-or-violence">
                  Upload a document
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/alldocuments/alldocuments" aria-describedby="risk-of-harm-or-violence">
                  See all documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag govuk-tag--red" id="submit-pay-status">Updated</strong>
            </li>

         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Orders from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/alldocuments/alldocuments" aria-describedby="risk-of-harm-or-violence">
                  See orders from the court
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag govuk-tag--red" id="submit-pay-status">Updated</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Final decision from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../public/pdf/AppointmentOfaGuardianC47A.pdf" aria-describedby="international-element"  target="_blank">
                  View your final order
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag govuk-tag--red" id="submit-pay-status">Updated</strong>
            </li>

          </ul>
        </li>
      </ol>


  </div>
  <div class="govuk-grid-column-one-third">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">


      <h2 class="govuk-heading-m">
        I want to...
      </h2>

      <ul class="govuk-list">

        <li>
          <a class="govuk-link" href="#">FInd my local court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Find legal advice</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about child arrangements</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about attending court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>

  </div>
</div>









{% endblock %}
