{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <form action="checkanswers-int" method="post" novalidate>

           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">Has another country asked (or been asked) for information or help for the children?
                 </h1>
               </legend>
               <div class="govuk-!-padding-bottom-2"></div>
               <div class="govuk-radios" data-module="govuk-radios">
                 <div id="waste-hint" class="govuk-hint">
                   This may be due to child protection concerns, the need to enforce an order abroad or to help a court with a request for another case.
                 </div>
                 <div class="govuk-!-padding-bottom-4"></div>

             <div class="govuk-radios__item">
               <input id="internationalrequest-yes" class="govuk-radios__input" type="radio" value="Yes" name="internationalrequest" aria-controls="internationalrequest-yes-conditional" aria-expanded="false" {{ checked("internationalrequest", "yes") }}>
               <label for="internationalrequest-yes" class="govuk-label govuk-radios__label">Yes
               </label>
             </div>
             <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="internationalrequest-yes-conditional">
               <div class="govuk-form-group">
                 <label for="internationalrequest-details-field" class="govuk-label">Provide details
                 </label>
                 <textarea id="internationalrequest-details-field" class="govuk-textarea" rows="5" name="internationalrequest-textarea">
                 </textarea>
               </div>
             </div>
            <div class="govuk-radios__item">
              <input id="internationalrequest-no" class="govuk-radios__input" type="radio" value="No" name="internationalrequest">
              <label for="internationalrequest-no" class="govuk-label govuk-radios__label">No
              </label>
            </div>
           </div>
         </fieldset>
       </div>
             <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
     </form>



       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
