{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

              <form action="detailsknown-answer" method="post" novalidate>
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                  <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem on this page
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <li>
                        <a href="detailsknown">Select yes if the other people in the application know your contact details</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <span class="govuk-caption-l">Keeping your contact details private</span>
                      <h1 class="govuk-fieldset__heading">
                        Do the other people named in this application (the respondents) know any of  your contact details?
                      </h1>
                    </legend>
                        <div class="govuk-!-padding-bottom-6"></div>





                        <div class="govuk-form-group govuk-form-group--error">
                          <fieldset class="govuk-fieldset" aria-describedby="where-do-you-live-error">
                            <p id="where-do-you-live-error" class="govuk-error-message">
                              <span class="govuk-visually-hidden">Error:</span>Select yes if the other people in the application know your contact details
                            </p>

                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="detailsknown-yes" name="detailsknown" type="radio" value="yes" data-aria-controls="conditional-confidential">
                            <label class="govuk-label govuk-radios__label" for="detailsknown-yes">
                              Yes
                            </label>
                          </div>


                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="detailsknown-no" name="detailsknown" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="detailsknown-no">
                              No
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="detailsknown-no" name="detailsknown" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="detailsknown-no">
                              I don't know
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                  </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                  Save and continue
                </button>
              </form>

        </main>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
