{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="courtorder-answer" method="post" novalidate>

           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">What are you asking the court to decide about the children involved?</h1>
               </legend>
               <div class="govuk-!-padding-bottom-4"></div>
               <span class="govuk-hint" id="courtorder-hint">Select all that apply</span>
               <div class="govuk-!-padding-bottom-2"></div>


               <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                 <div class="govuk-checkboxes__item">
                   <input id="childlives" class="govuk-checkboxes__input" type="checkbox" value="child_arrangements_home" name="courtorder">
                   <label for="childlives" class="govuk-label govuk-checkboxes__label">Decide who they live with and when</label>
                 </div>

                 <div class="govuk-checkboxes__item">
                   <input id="contactime" class="govuk-checkboxes__input" type="checkbox" value="child_arrangements_time" name="courtorder">
                   <label for="contactime" class="govuk-label govuk-checkboxes__label">Decide how much time they spend with each person</label>
                 </div>

                  <div class="govuk-checkboxes__item">
                    <input id="prohibitedsteps" class="govuk-checkboxes__input" aria-describedby="stopaction-hint" type="checkbox" value="group_prohibited_steps" name="courtorder" aria-controls="prohibitedsteps-conditional" aria-expanded="false">
                    <label for="prohibitedsteps" class="govuk-label govuk-checkboxes__label">Stop the other person doing something</label>
                    <span class="govuk-hint govuk-checkboxes__hint" id="prohibitedsteps-hint">For example, moving abroad or abducting the children</span>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="prohibitedsteps-conditional">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <input type="hidden" name="prohibitedsteps_form" value="">
                          <div class="govuk-checkboxes__item">
                            <input id="namechange" class="govuk-checkboxes__input" type="checkbox" value="prohibited_steps_names" name="prohibitedstepscollection">
                            <label for="namechange" class="govuk-label govuk-checkboxes__label">Changing their names or surname</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="medicaltreatment" class="govuk-checkboxes__input" type="checkbox" value="prohibited_steps_medical" name="prohibitedstepscollection">
                            <label for="medicaltreatment" class="govuk-label govuk-checkboxes__label">Allowing medical treatment to be carried out on them</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="holiday" class="govuk-checkboxes__input" type="checkbox" value="prohibited_steps_holiday" name="prohibitedstepscollection">
                            <label for="holiday" class="govuk-label govuk-checkboxes__label">Taking them on holiday</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="relocationinew" class="govuk-checkboxes__input" type="checkbox" value="prohibited_steps_moving" name="prohibitedstepscollection">
                            <label for="relocationinew" class="govuk-label govuk-checkboxes__label">Relocating the children to a different area in England and Wales</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="relocationoutside" class="govuk-checkboxes__input" type="checkbox" value="prohibited_steps_moving_abroad" name="prohibitedstepscollection">
                            <label for="relocationoutside" class="govuk-label govuk-checkboxes__label">Relocating the children outside of England and Wales (including Scotland and Northern Ireland)</label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input id="issueresolution" class="govuk-checkboxes__input" aria-describedby="issueresolution-hint" type="checkbox" value="group_specific_issues" name="courtorder" aria-controls="issueresolution-conditional" aria-expanded="false">
                    <label for="issueresolution" class="govuk-label govuk-checkboxes__label">Resolve a specific issue</label>
                    <span class="govuk-hint govuk-checkboxes__hint" id="issueresolution-hint">For example, what school they’ll go to</span>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="issueresolution-conditional">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <input type="hidden" name="issueresolution-form" value="">
                          <div class="govuk-checkboxes__item">
                            <input id="holidayarrangements" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_holiday" name="issueresolutionfdetails">
                            <label for="holidayarrangements" class="govuk-label govuk-checkboxes__label">A specific holiday or arrangement</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="specificschool" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_school" name="issueresolutionfdetails">
                            <label for="specificschool" class="govuk-label govuk-checkboxes__label">What school they’ll go to</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="religionissue" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_religion" name="issueresolutionfdetails">
                            <label for="religionissue" class="govuk-label govuk-checkboxes__label">A religious issue</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="namechange" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_names" name="issueresolutionfdetails">
                            <label for="namechange" class="govuk-label govuk-checkboxes__label">Changing their names or surname</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="medicaltreatment" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_medical" name="issueresolutionfdetails">
                            <label for="medicaltreatment" class="govuk-label govuk-checkboxes__label">Medical treatment</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="moveew" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_moving" name="issueresolutionfdetails">
                            <label for="moveew" class="govuk-label govuk-checkboxes__label">Relocating the children to a different area in England and Wales</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                              <input id="moveout" class="govuk-checkboxes__input" type="checkbox" value="specific_issues_moving_abroad" name="issueresolutionfdetails">
                              <label for="moveout" class="govuk-label govuk-checkboxes__label">Relocating the children outside of England and Wales (including Scotland and Northern Ireland)</label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input id="returntocare" class="govuk-checkboxes__input" aria-describedby="returntocare-hint" type="checkbox" value="specific_issues_child_return" name="issueresolutionfdetails">
                            <label for="returntocare" class="govuk-label govuk-checkboxes__label">Returning the children to your care</label>
                            <span class="govuk-hint govuk-checkboxes__hint" id="returntocare-hint">If the children have been abducted, unlawfully removed or unlawfully retained</span>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

         <div class="govuk-!-padding-bottom-4"></div>





         <div class="govuk-button-group govuk-!-margin-top-6">
           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
           <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
             Save and come back later
           </a>

         </div>




       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
