{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="courtorder-answer" method="post" novalidate>

           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">What are you asking the court to decide about the children involved?</h1>
               </legend>
               <div class="govuk-!-padding-bottom-4"></div>
               <span class="govuk-hint" id="courtorder-hint">Select all that apply</span>
               <div class="govuk-!-padding-bottom-2"></div>

               <div class="govuk-checkboxes" data-module="govuk-checkboxes">
               <div class="govuk-checkboxes__item">
                 <input id="caorder" class="govuk-checkboxes__input" type="checkbox" value="caorder" name="courtorder" aria-controls="caorder-conditional">
                 <label for="caorder" class="govuk-label govuk-checkboxes__label">Decide on an arrangement with the children</label>
                 <span class="govuk-hint govuk-checkboxes__hint" id="caorder-hint">For example:
                      <ul class="govuk-list govuk-list--bullet govuk-hint">
                       <li>who they live with and when</li>
                       <li>decide how much time they spend with each person</li>

                     </ul></span>
               </div>

               <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="caorder-conditional">
                 <div class="govuk-form-group">
                   <label for="prohibitedsteps-details-field" class="govuk-label">Specify what you want the court to decide on
                   </label>
                   <textarea id="prohibitedsteps-details-field" class="govuk-textarea" rows="5" name="prohibitedsteps-textarea">
                   </textarea>
                 </div>
               </div>






                  <div class="govuk-checkboxes__item">
                    <input id="prohibitedsteps" class="govuk-checkboxes__input" aria-describedby="stopaction-hint" type="checkbox" value="group_prohibited_steps" name="courtorder" aria-controls="prohibitedsteps-conditional" aria-expanded="false">
                    <label for="prohibitedsteps" class="govuk-label govuk-checkboxes__label">Stop the other person doing something</label>


                    <span class="govuk-hint govuk-checkboxes__hint" id="issueresolution-hint">For example:
                         <ul class="govuk-list govuk-list--bullet govuk-hint">
                          <li>changing the chidlren's names or surname</li>
                          <li>relocating the children abroad</li>
                          <li>allowing medical treatment to be carried out on them</li>
                          <li>taking them on holiday</li>
                        </ul></span>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="prohibitedsteps-conditional">
                    <div class="govuk-form-group">
                      <label for="prohibitedsteps-details-field" class="govuk-label">Specify what you want the court to decide on
                      </label>
                      <textarea id="prohibitedsteps-details-field" class="govuk-textarea" rows="5" name="prohibitedsteps-textarea">
                      </textarea>
                    </div>
                  </div>



                  <div class="govuk-checkboxes__item">
                    <input id="issueresolution" class="govuk-checkboxes__input" aria-describedby="issueresolution-hint" type="checkbox" value="group_specific_issues" name="courtorder" aria-controls="issueresolution-conditional" aria-expanded="false">
                    <label for="issueresolution" class="govuk-label govuk-checkboxes__label">Resolve a specific issue</label>
                    <span class="govuk-hint govuk-checkboxes__hint" id="issueresolution-hint">For example:
                         <ul class="govuk-list govuk-list--bullet govuk-hint">
                          <li>a specific holiday or arrangement</li>
                          <li>what school they’ll go to</li>
                          <li>a religious issue</li>
                          <li>changing their names or surname</li>
                          <li>relocating the children</li>

                      </ul></span>
                  </div>

                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="issueresolution-conditional">
                    <div class="govuk-form-group">
                      <label for="issueresolution-details-field" class="govuk-label">Specify what you want the court to decide on
                      </label>
                      <textarea id="issueresolution-details-field" class="govuk-textarea" rows="5" name="issueresolution-textarea">
                      </textarea>
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>

         <div class="govuk-!-padding-bottom-4"></div>





         <div class="govuk-button-group govuk-!-margin-top-6">
           <button class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
           <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
             Save and come back later
           </a>

         </div>




       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
