{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="shortstatement" method="post" novalidate>
              <h1 class="govuk-heading-xl">What you are asking the court to do</h1>

                <h2 class="govuk-heading-m">
                  You would like the court to put in an arrangement about the children to:
                </h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li></li>
                </ul>
                <p class="govuk-body">This is known as a Child Arrangements Order.</p>

                <h2 class="govuk-heading-m">
                  You would like the court to stop the other people in the case:
                </h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li></li>
                </ul>
                <p class="govuk-body">This is known as a Prohibited Steps Order.</p>

         <div class="govuk-!-padding-bottom-4"></div>





         <div class="govuk-button-group govuk-!-margin-top-6">
           <button class="govuk-button" data-module="govuk-button">
             Continue
           </button>
           <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
             Save and come back later
           </a>

         </div>




       </main>


    </div>
  </div>

    <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>





{% endblock %}
