{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="../confidentiality/detailsknown" method="post" novalidate>

           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                 <h1 class="govuk-fieldset__heading">Briefly describe what you want the court to do in regards to the children in this application </h1>
               </legend>
               <div class="govuk-!-padding-bottom-4"></div>
               <details class="govuk-details" data-module="govuk-details">
                 <summary class="govuk-details__summary">
                   <span class="govuk-details__summary-text" data-ga-category="explanations" data-ga-label="urgent hearing">How to write a short statement and what to include</span>
                 </summary>
                 <div class="govuk-details__text">
                   <p class="govuk-body">Write in bullet points and short paragraphs. Only provide short summary of any relevant points regarding your child arrangement application.</p>
                    <ul class="govuk-list govuk-list--bullet">
                     <li>Describe any previous agreements (formal or informal or parenting plans between you and the other people in this application </li>
                     <li>Shortly describe whether and how have these previous agreements broken down  </li>
                     <li>Explain your reasons for bringing this child arrangement to the court    </li>
                     <li>Give brief details of what you want the court to do   </li>
                    </ul>

                 </div>
               </details>




                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>



              </fieldset>
            </div>

         <div class="govuk-!-padding-bottom-4"></div>





            <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue
            </button>




       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
