{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

      <main class="govuk-main-wrapper " id="main-content" role="main">

           <h1 class="govuk-heading-l">Check your answers </h1>

           <h2 class="govuk-heading-m">International elements</h2>

           <dl class="govuk-summary-list govuk-!-margin-bottom-9">
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key govuk-!-width-one-half">
                 Do the children live outside of England or Wales?
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ data['internationalchild'] }}
                <p> {{ data['internationalchild-textarea'] }}</p>
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="start">
                   Edit<span class="govuk-visually-hidden">child</span>
                 </a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key govuk-!-width-one-half">
                 Do the children's parents or anyone significant to the children live outside of England or Wales?
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ data['internationalparents'] }}
                 <p> {{ data['internationalparents-textarea'] }}</p>
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="parents">
                   Edit<span class="govuk-visually-hidden">parents</span>
                 </a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Could another person in the application apply for a similar order in a country outside England or Wales?
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ data['outsidejurisdiction'] }}
                 <p> {{ data['outsidejurisdiction-textarea'] }}</p>
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="jurisdiction">
                   Edit<span class="govuk-visually-hidden">jurisdiction</span>
                 </a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key govuk-!-width-one-half">
                 Has another country asked (or been asked) for information or help for the children?
               </dt>
               <dd class="govuk-summary-list__value">
                 {{ data['internationalrequest'] }}
                 <p> {{ data['internationalrequest-textarea'] }}</p>
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="request">
                   Edit<span class="govuk-visually-hidden">internationalrequest</span>
                 </a>
               </dd>
             </div>
           </dl>

         <div>


       <form action="/tasklistresponse/start" method="post" novalidate>

         <input type="hidden" name="answers-checked" value="true">

         <button class="govuk-button" data-module="govuk-button">
           Save and continue
         </button>

       </form>

     </div>
      </main>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
          Contacts for help
          </span>
        </summary>
        <div class="govuk-details__text">
         Ask a question or get any help in any language
         <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

         <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
         <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
         <a href="#" class="govuk-link">Find out about call charges</a>
         <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
        </div>
      </details>
    </div>
    
</div>


{% endblock %}
