{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="alternativeroutes" method="post" novalidate>

           <h1 class="govuk-heading-xl">Before you go to court</h1>

            <p class="govuk-body">
              Before you continue with the application, think about what the court process involves and whether you need to go to court.
            </p>

            <div class="govuk-inset-text">
              It is often better to agree arrangements for the children outside of court, unless you have safety concerns.
            </div>

            <h2 class="govuk-heading-l">What happens at court</h2>
            <p class="govuk-body">
              A judge is required by law to put the children first. The court will decide what it thinks is best for the children. If you go to court, you must be ready to follow the court's decision, even if you don't agree with it.
            </p>

            <p class="govuk-body">Before going to court, you should attend a <a href="https://www.gov.uk/guidance/family-mediation-voucher-scheme" class="govuk-link" rel="external" target="_blank">mediation meeting (MIAM)</a> unless you are exempt.</p>

              <p class="govuk-body">Mediation is a process where a trained, independent mediator helps you to work out arrangements with the other people in the case.</p>

            <p class="govuk-body">
              The court’s decision will be set out in a ‘court order’ which you must stick to.
            </p>

            <p class="govuk-body">
              <a href="https://helpwithchildarrangements.service.justice.gov.uk/going-to-court" class="govuk-link" rel="external" target="_blank">
                Find out more about going to court</a>
            </p>

            <h2 class="govuk-heading-l">Changing or enforcing an order</h2>
            <p class="govuk-body">
              A court order is not flexible.
              You’ll need to apply to court again if your situation changes.
            </p>

            <p class="govuk-body">
              You or the other people in the case can apply to court to enforce the order, if any one of you is not following the terms.
            </p>


            <h2 class="govuk-heading-l margin-top-20">Legal aid</h2>
            <p class="govuk-body">
              You might be able to get legal aid to meet the costs of legal advice and representation.
            </p>
            <p class="govuk-body">
              You could qualify if:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you have evidence that you or the children have been victims of abuse</li>
              <li>you're at risk of losing your home</li>
              <li>- you are being discriminated against</li>

             </ul>

            <p class="govuk-body">
              GOV.UK has more information on
              <a href="https://www.gov.uk/legal-aid/domestic-abuse-or-violence" class="govuk-link" rel="external" target="_blank">
                legal aid and domestic violence or abuse</a>.
            </p>


            <h2 class="govuk-heading-l">Representing yourself in court</h2>
            <span class="govuk-body">
              If you do not have a legal representative, you will need to learn
              <a href="https://www.gov.uk/represent-yourself-in-court" class="govuk-link" rel="external" target="_blank">
                how to represent yourself in court</a>
              before you apply.
            </span>


            <div class="govuk-button-group govuk-!-margin-top-6">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
                Save and come back later
              </a>

            </div>

       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
