{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
     <a href="#" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <img src="../public/images/banners/casewithdrawn.png" width="100%" alt="Progress stage: Response submitted">
      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            The case has now been withdrawn.
          </p>
          <p class="govuk-body">You will still be able to access all documents related to this case.
            </p>
            <p class="govuk-notification-banner__heading">
              <a class="govuk-notification-banner__link" href="#">View case withdrawn letter</a>
            </p>

        </div>
      </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
             About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confidentiality/start" aria-describedby="eligibility-status">
                  Keep your contact details private
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confirmcontactdetails/checkanswers" aria-describedby="read-declaration-status">
                  Confirm or edit your contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/tellusyourhearingneeds/start" aria-describedby="read-declaration-status">
                  Enter your hearing needs
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Applications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Check the applicant's request
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Check allegations of harm and violence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../tasklistresponse/start" aria-describedby="company-information-status">
                  Respond to the applicant's request
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Respond to the allegations of harm and violence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
          </ul>
        </li>


              <li>
                <h2 class="app-task-list__section">
                  Your hearings
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="applicationdetails/aboutyou/start" aria-describedby="application-detail-about-you">
                        Check your hearing details
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">view</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                       <a href="applicationdetails/miam/start" aria-describedby="application-details-miam">
                        Request a change to your hearing
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">To do</strong>
                  </li>

                </ul>
              </li>

              <li>
                <h2 class="app-task-list__section">
                   Your documents
                </h2>
                <ul class="app-task-list__items">

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="safetyconcerns/riskofharm/start" aria-describedby="risk-of-harm-or-violence">
                        Upload a document
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">to do</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="safetyconcerns/riskofharm/start" aria-describedby="risk-of-harm-or-violence">
                        See all the documents relating to this application
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">View</strong>
                  </li>
               </ul>
              </li>

              <li>
                <h2 class="app-task-list__section">
                   Decision
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="additionalinformation/internationlelement/start" aria-describedby="international-element">
                        Review your final order
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">View</strong>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="additionalinformation/internationlelement/start" aria-describedby="international-element">
                        View your case withdrawn letter
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="submit-pay-status">View</strong>
                  </li>

                </ul>
              </li>
      </ol>

  </div>
  <div class="govuk-grid-column-one-third">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">


      <h2 class="govuk-heading-m">
        I want to...
      </h2>

      <ul class="govuk-list">

        <li>
          <a class="govuk-link" href="#">FInd my local court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Find legal advice</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about child arrangements</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about attending court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>

  </div>
</div>









{% endblock %}
