{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>
      <p class="govuk-body">Case number #1636575673018538</p>
  </div>

  <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <img src="../public/images/banners/postapplicationissued.png" width="100%" alt="Progress stage: Response submitted">
      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You have been named as the respondent in an application about a child.
          </p>
          <p class="govuk-body">This means that another person (the applicant) has applied to a court to make a decision about a child.</p>
          <p class="govuk-body">You should read the application and respond to it by <strong>12 July 2022</strong></p>
          <p class="govuk-notification-banner__heading">
            <a class="govuk-notification-banner__link" href="../public/pdf/C100FinalDocument.pdf" target="_blank">Review the application (PDF)</a>
          </p>
          <p class="govuk-notification-banner__heading">
            <a class="govuk-notification-banner__link" href="../tasklistresponse/start">Respond to the application</a>
          </p>

        </div>
      </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
             About you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confidentiality/detailsknown" aria-describedby="eligibility-status">
                  Keep your details private
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--red" id="eligibility-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/confirmcontactdetails/checkanswers" aria-describedby="read-declaration-status">
                  Confirm or edit your contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--red" id="eligibility-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="aboutyou/tellusyourhearingneeds/remotehearing" aria-describedby="read-declaration-status">
                Support you need during your case
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--red" id="eligibility-status">Not started yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             The application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../public/pdf/C100FinalDocument.pdf" target="_blank" aria-describedby="company-information-status">
                  Check the application (PDF)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--red" id="company-information-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../public/pdf/C1ADocument.pdf" target="_blank" aria-describedby="company-information-status">
                  Check the allegations of harm and violence (PDF)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--red" id="company-information-status">Not started yet</strong>
            </li>
            

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Your response
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../../../tasklistresponse/start" aria-describedby="company-information-status">
                  Respond to the application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--red" id="eligibility-status">Not started yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applications/responsetoallegations/start" aria-describedby="company-information-status">
                  Respond to the allegations of harm and violence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--red" id="eligibility-status">Not started yet</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Your court hearings
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourhearings/hearings" aria-describedby="application-detail-about-you">
                  Check details of your court hearings
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag " id="submit-pay-status">Not available yet</strong>
            </li>


          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
             Your documents
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/uploadv1/uploaddocumentsv1" aria-describedby="upload-document">
                  Upload documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="submit-pay-status">Optional</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/alldocuments/alldocuments" aria-describedby="risk-of-harm-or-violence">
                  View all documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag " id="submit-pay-status">Ready to view</strong>
            </li>

         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Orders from the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/alldocuments/orders" aria-describedby="risk-of-harm-or-violence">
                  View all orders from the court
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not available yet</strong>
            </li>

          </ul>
        </li>


      </ol>

  </div>
  <div class="govuk-grid-column-one-third">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">


      <h2 class="govuk-heading-m">
        I want to...
      </h2>

      <ul class="govuk-list">

        <li>
          <a class="govuk-link" href="#">Find my local court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Find legal advice</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about child arrangements</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="#">Know more about attending court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>



      		<details class="govuk-details" data-module="govuk-details">
   			 <summary class="govuk-details__summary">
     			 <span class="govuk-details__summary-text">
      		  Contacts for help
    			  </span>
    			</summary>
    			<div class="govuk-details__text">
     			 Ask a question or get any help in any language
     			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

     			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
     			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
     			 <a href="#" class="govuk-link">Find out about call charges</a>
     			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

  			  </div>
  			</details>

      </div>

  </div>










{% endblock %}
