{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}

<style>
  .hmcts-progress-bar-vertical .hmcts-progress-bar__list-item {
    width: 90px;
    display: inline-block;
}


@media screen and (max-width:1200px) {

.hmcts-progress-bar-vertical .hmcts-progress-bar__list-item { max-width:45px; display:block; margin-top: 10px; }
.hmcts-progress-bar-vertical .hmcts-progress-bar__list::before {
  border-top: none;
  position: absolute;
  top: 0px;
  border-left: 6px solid #CECECE;
  height: 100%;
  position: absolute;
  left:20px;
  top: 0;

}

.hmcts-progress-bar-vertical .hmcts-progress-bar__label { margin-top:-25px; margin-left:50px; width:350px; text-align:left }

}



</style>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Progess bar proof of concept</h1>


      <h2 class="govuk-heading-m">
        Example 2:  Desktop progress bar - Responsive mode: vertical
      </h2>

        <!-- start components here -->

        <div class="hmcts-progress-bar-vertical" role="progressbar">
          <ol class="hmcts-progress-bar__list">
          
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 1: </span>Application issued</span>
          </li>
          
          <li class="hmcts-progress-bar__list-item" aria-current="step">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Current Step 2: </span>Response submitted</span>
          </li>
          
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 3: </span>Hearing</span>
          </li>
          
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 4: </span>Order</span>
          </li>


          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 5: </span>Final order</span>
          </li>

          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 6: </span>Case reopened</span>
          </li>


          </ol>
        </div> 

        <br>

        <a href="vertical-examples">Further examples</a>

        <br><br><br>


       



        </div>


        <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-m">
            Notes:
          </h3>
            <p class="govuk-body govuk govuk-!-margin-bottom-0">2. Progress bar (example 2) vertical responsive, is an "extended" version of the HMCTS progress bar component.</p>
        </div>


</div>



{% endblock %}