{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">


<div class="govuk-!-padding-bottom-8"></div>



    <!-- start components here -->


    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">Witness statements and evidence</span>
      Your position statements
    </h1>

      <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-29" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h2 class="govuk-notification-banner__heading">
            Your documents have been uploaded
          </h2>
        </div>
      </div>


      <div class="uploadedfiles govuk-!-margin-bottom-3" style=" display: inline-block">



          <h2 class="app-task-list__section govuk-!-margin-bottom-4">Your documents for witness statements and evidence</h2>


            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__value">
                    sam_richards__first_position_statement__date_submitted.pdf
                  </dt>


                </div>

                <div class="govuk-summary-list__row">

                  <dt class="govuk-summary-list__value">
                    sam_richards__second_position_statement__date_submitted.pdf
                  </dt>


                </div>

              </dl>
      </div>


<!-- end components here -->




          <br>

          <div class="govuk-button-group">

          <form action="/applicanttasklist/startreply" method="post" novalidate>

              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>

            </form>

            <form action="../uploaddocumentsv1" method="post" novalidate>

              <input type="hidden" name="answers-checked" value="true">

              <button class="govuk-button govuk-button--secondary" data-module="govuk-button"  value="Save and come back later">Upload another document</button>

            </form>

            </div>


        </div>


        <!-- end components here -->


</div>


    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">

 			      <summary class="govuk-details__summary">

       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>

  			    </summary>

      			<div class="govuk-details__text">
       			 Ask a question or get any help in any language
       			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

       			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
       			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
       			 <a href="#" class="govuk-link">Find out about call charges</a>
       			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

    			  </div>

			  </details>

    </div>

   </div>










{% endblock %}
