{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-width-container">
        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

          <form action="addresshistory" method="post" novalidate>

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Your address
                </h1>
              </legend>
              <div class="govuk-!-padding-bottom-4"></div>
              <p class="govuk-body govuk-!-font-weight-bold">
                24 Happy Hill
              <br>Happy End
              <br>H24 HE</p>
              <div class="govuk-!-padding-bottom-4"></div>



            </fieldset>
            <div class="govuk-button-group">



            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="addresslookup">Edit address</a>
          </div>

          </form>

        </main>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
   			 <summary class="govuk-details__summary">
     			 <span class="govuk-details__summary-text">
      		  Contacts for help
    			  </span>
    			</summary>
    			<div class="govuk-details__text">
     			 Ask a question or get any help in any language
     			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

     			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
     			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
     			 <a href="#" class="govuk-link">Find out about call charges</a>
     			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

  			  </div>
			</details>
    </div>

</div>



{% endblock %}
