{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-width-container">
        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

          <form action="addressdetails" method="post" novalidate>

            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem on this page
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#passport-issued-day">Your date of birth must be in the past</a>
                  </li>

                </ul>
              </div>
            </div>

              <h1 class="govuk-heading-xl">Your name and date of birth</h1>

<!--If provided by the applicant, it will be prepopulated as a placeholder. Once user start typing, placeholder will disappear. If they delete whatever they wrote before saving then placeholder will return -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="first-name">
                Your first name
              </label>
              <input class="govuk-input" id="first-name" name="first-name" type="text" spellcheck="false" autocomplete="name" placeholder="Sam">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="last-name">
                Your last name
              </label>
              <input class="govuk-input" id="last-name" name="last-name" type="text" spellcheck="false" autocomplete="name" placeholder="Richards">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="previous-name">
                Previous name(s), if any (optional)
              </label>
              <input class="govuk-input" id="previous-name" name="previous-name" type="text" spellcheck="false" autocomplete="name">
            </div>


            <div class="govuk-form-group govuk-form-group--error">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                <legend class="govuk-fieldset__legend">
                    Your date of birth
                </legend>
                <div id="dob-hint" class="govuk-hint">
                  For example - 31 3 1980
                </div>
                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Your date of birth must be in the past
                </p>
                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" placeholder="12">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" placeholder="04">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" placeholder="1980">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="pob">
                Place of birth
              </label>
              <input class="govuk-input" id="pob" name="pob" type="text" spellcheck="false" autocomplete="name">
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>
        </main>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
    		<details class="govuk-details" data-module="govuk-details">
     			 <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
      			</summary>
    			<div class="govuk-details__text">
     			 Ask a question or get any help in any language
     			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

     			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
     			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
     			 <a href="#" class="govuk-link">Find out about call charges</a>
     			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
  			  </div>
			  </details>
    </div>

</div>



{% endblock %}
