
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        HMCTS prototyping for Domestic abuse (DA) projects
      </h1>

      <h2 class="govuk-heading-m">Domestic abuse</h2>

      <p>Prototyping for DA</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/progressbar/start">Progress bar proof of concept</a></li>
      </ul>

      <h2 class="govuk-heading-m">Child arrangements</h2>

      <p>Prototyping for CA</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/tasklistresponse/start">Tasklist response</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
