
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        HMCTS prototyping for Domestic abuse project (DA)  hello guys
      </h1>

      <h2 class="govuk-heading-m">Domestic abuse</h2>

      <p>Prototyping for DA</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/progressbar/start">Progress bar proof of concept</a></li>
      </ul>

    </div>
  </div>



  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        You have 7 days left to send your application.
        <a class="govuk-notification-banner__link" href="#">View application</a>.
      </p>
    </div>
  </div>






  <ol class="app-task-list">
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">1. </span> Check before you start
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="http://google.co.uk" aria-describedby="eligibility-status">
              hello Marie
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="read-declaration-status">
              Read declaration
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
        </li>
      </ul>
    </li>

    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">2. </span> Prepare application
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="company-information-status">
              Company information
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="contact-details-status">
              Your contact details
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="#" aria-describedby="list-convictions-status">
              List convictions
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Provide financial evidence
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
        </li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Give medical information
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
        </li>
      </ul>
    </li>

    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">3. </span> Apply
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Submit and pay
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
        </li>
      </ul>
    </li>


    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">4. </span> Hello Jamie
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Submit and pay
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
        </li>
      </ul>
    </li>







  </ol>










{% endblock %}
