
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS prototyping
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        HMCTS prototyping for Child arrangements (CA), Domestic abuse (DA) and Work allocation projects
      </h1>

      <h2 class="govuk-heading-m">Child arrangements</h2>
      <p>Prototyping for CA</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/respondenttasklist/startreply">Respondent journey</a></li>
        <li><a href="/applicantjourneyca/start">Applicant journey for CA</a></li>
      </ul>

      <h2 class="govuk-heading-m">Domestic abuse</h2>
      <p>Prototyping for DA</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/darespondenttasklist/start">Respondent journey for DA</a></li>
        <li><a href="/applicantjourney/start">Applicant journey for DA</a></li>
        <!--<li><a href="/applicantjourney/notifications/start">Applicant journey notification pages</a></li>-->
      </ul>

      <h2 class="govuk-heading-m">Work allocation</h2>
      <p>Prototyping for Work allocation</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/workallocation-v2">Work allocation pages</a></li>
      </ul>

      <h2 class="govuk-heading-m">Proof of concept</h2>
      <p>Prototyping for new components</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/progressbar/start">Progress bar proof of concept</a></li>
        <li><a href="/upload/uploaddocuments">Upload documents component</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
