{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-width-container">
        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

          <form action="checkanswers" method="post" novalidate>

            <h1 class="govuk-heading-xl">Have you lived at this address for more than 5 years?</h1>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="proposal-hint">

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="history-yes" name="addresshistory" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="history-yes">Yes</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="history-no" name="addresshistory" type="radio" value="no" data-aria-controls="conditional-address">
                    <label class="govuk-label govuk-radios__label" for="history-no">No</label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-address">

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="more-detail">Give details of previous addresses you have lived at in the last 5 years, starting with your most recent address</label>





                        <div class="govuk-form-group govuk-!-margin-top-6">
                          <label for="steps-applicant-address-details-form-address-line-1-field" class="govuk-label">Building and street
                          </label>
                          <input id="steps-applicant-address-details-form-address-line-1-field" class="govuk-input" type="text" value="" name="steps_applicant_address_details_form[address_line_1]">
                        </div>
                        <div class="govuk-form-group">
                          <label for="steps-applicant-address-details-form-address-line-2-field" class="govuk-label">
                            <span class="govuk-visually-hidden">Building and street line 2
                            </span>
                          </label>
                          <input id="steps-applicant-address-details-form-address-line-2-field" class="govuk-input" type="text" value="" name="steps_applicant_address_details_form[address_line_2]">
                        </div>
                        <div class="govuk-form-group">
                          <label for="steps-applicant-address-details-form-address-line-3-field" class="govuk-label">
                            <span class="govuk-visually-hidden">Building and street line 3
                            </span>
                          </label>
                          <input id="steps-applicant-address-details-form-address-line-3-field" class="govuk-input" type="text" value="" name="steps_applicant_address_details_form[address_line_3]">
                        </div>
                        <div class="govuk-form-group">
                          <label for="steps-applicant-address-details-form-town-field" class="govuk-label">Town or city
                          </label>
                          <input id="steps-applicant-address-details-form-town-field" class="govuk-input govuk-!-width-one-half" type="text" value="" name="steps_applicant_address_details_form[town]">
                        </div>
                        <div class="govuk-form-group">
                          <label for="steps-applicant-address-details-form-country-field" class="govuk-label">Country
                          </label>
                          <input id="steps-applicant-address-details-form-country-field" class="govuk-input govuk-!-width-one-half" type="text" value="" name="steps_applicant_address_details_form[country]">
                        </div>
                        <div class="govuk-form-group govuk-form-group--error">
                          <label for="steps-applicant-address-details-form-postcode-field" class="govuk-label">Postcode
                          </label>
                          <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> The format is incorrect
                          </p>
                          <input id="steps-applicant-address-details-form-postcode-field" class="govuk-input govuk-!-width-one-third" type="text" value="MK9 3DX" name="steps_applicant_address_details_form[postcode]"></input>
                        </div>




                      <button class="govuk-button" data-module="govuk-button">
                       Add another address
                      </button>





                    </div>

                  </div>

                    </div>



              </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>


        </main>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
   			 <summary class="govuk-details__summary">
     			 <span class="govuk-details__summary-text">
      		  Contacts for help
    			  </span>
    			</summary>
    			<div class="govuk-details__text">
     			 Ask a question or get any help in any language
     			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

     			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
     			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
     			 <a href="#" class="govuk-link">Find out about call charges</a>
     			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

  			  </div>
			</details>
    </div>

</div>



{% endblock %}
