{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}




<form action="/darespondenttasklist/start" method="post" novalidate>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
 		 <a href="/darespondenttasklist/start" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>

      <p class="govuk-body">Respondent reference #1636575673018538</p>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">View all documents</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">Read through the application and then respond to the questions about the case</p> !-->

  </div>
</div>


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-12" >
          Upload documents
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-7">Select the type of document you want to upload</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
             Witness statements and evidence
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="uploaddocuments" aria-describedby="eligibility-status">
                  Witness statements
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/darespondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Statements of supporting evidence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/darespondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Digital downloads
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/darespondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Photographic evidence
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/darespondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Mobile phone screenshots
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/darespondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Medical records
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/darespondenttasklist/yourdocuments/witnessstatements" aria-describedby="eligibility-status">
                  Letters from school
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Applications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicationdetails/proceedings/start" aria-describedby="current-or-previous-proceedings">
                  Previous orders submitted with application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="applicationdetails/proceedings/start" aria-describedby="current-or-previous-proceedings">
                  Permission to start proceedings (C2)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Expert reports
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/yoursafety/safetyinfo" aria-describedby="your-safety">
                  Medical reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/childrensafety/childrenabuse" aria-describedby="children-safety">
                  DNA reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/abduction/abduction" aria-describedby="abduction">
                  Paternity test reports
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/otherconcerns/drugs" aria-describedby="risk-of-harm-or-violence">
                  Results of hair strand or blood tests
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/existingorders/orders" aria-describedby="risk-of-harm-or-violence">
                  Police disclosures
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Correspondence to the court
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/yoursafety/safetyinfo" aria-describedby="your-safety">
                  Emails to ask to change a hearing date
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/childrensafety/childrenabuse" aria-describedby="children-safety">
                  Witness availability
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="safetyconcerns/abduction/abduction" aria-describedby="abduction">
                  Letters of complaint
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Upload</strong>
            </li>
           </ul>
        </li>

    <div class="govuk-button-group">


          <div class="govuk-button-group">
            <button class="govuk-button govuk-button--secondary" href="/darespondenttasklist/start" data-module="govuk-button">
              Previous
            </button>

            <button class="govuk-button" href="/darespondenttasklist/start" data-module="govuk-button">
              Save and continue
            </button>

         </div>


    </div>
  </ol>

    </div>

    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>

    </div>
 </div>
</form>








{% endblock %}
