{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    <div class="govuk-width-container">
       <a href="/respondenttasklist/startreply"class="govuk-back-link">Back</a>

       <main class="govuk-main-wrapper " id="main-content" role="main">
         <form action="/respondenttasklist/startreply" method="post" novalidate>



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Upload a document
      </h1>

      <p class="govuk-body">Respondent reference #1636575673018538</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">View all documents</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">Read through the application and then respond to the questions about the case</p> !-->







      <p class="govuk-body govuk-!-margin-bottom-7">Select the type of document you want to upload</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
             Witness statements and evidence
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="position/requested" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Your position statements
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="requested" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Your witness statements
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Other witness statements
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Digital downloads
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Photographic evidence
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Mobile phone screenshots
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Medical records
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Letters from school
                </a>
              </span>

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Applications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Previous orders submitted with application
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Make an application in these proceedings
                </a>
              </span>

            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Expert reports
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Medical reports
                </a>
              </span>

            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Paternity test reports
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Drug and alcohol tests (toxicology)
                </a>
              </span>

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Police disclosures
                </a>
              </span>

            </li>
         </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
             Other documents
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                  Other documents
                </a>
              </span>

            </li>
           </ul>
        </li>


  </ol>

  <button class="govuk-button govuk-button--secondary" href="../../start" data-module="govuk-button">
    Go back
  </button>

        </form>
      </main>
    </div>
  </div>

    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>

    </div>
 </div>









{% endblock %}
