{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>
     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl ">Safety concerns</h1>
            <p class="govuk-body-l ">
              The court needs to know if anyone who spends time with the children poses a risk to their safety or yours.
            </p>

            <h2 class="govuk-heading-m ">Behaviours the court needs to know about<h2>

              <p class="govuk-body">
                The court will need to know about abusive behaviour that you or the children have experienced.
              </p>


              <p class="govuk-body  " >The abuse could be:</p>
                <ul class="govuk-list govuk-list--bullet  app-inverted-narrow-width govuk-!-margin-left-9">
                  <li>physical</li>
                  <li>psychological</li>
                  <li>emotional</li>
                  <li>sexual</li>
                  <li>financial</li>
                </ul>

              <p class="govuk-body  " >If the other person in the case has abducted the children, this is also a form of abuse.</p>

              <h2 class="govuk-heading-m ">
                Why the court needs this information
              </h2>
              <p class="govuk-body ">If another person in the case is a risk to the safety of the children, the court needs to know so that it can handle your case correctly.
              </p>
              <h2 class="govuk-heading-m ">
                If you are not sure if the behaviour is a form of abuse
              </h2>
              <p class="govuk-body ">If you are not sure if the behaviour is abusive, see the guidance on <a href="https://www.gov.uk/government/publications/domestic-abuse-recognise-the-signs/domestic-abuse-recognise-the-signs#how-to-recognise-domestic-abuse-in-a-relationship" class="govuk-link govuk-link" rel="external" target="_blank">types of abusive behaviour.</a>
              </p>
              

              <h2 class="govuk-heading-m ">
                If you don't feel ready to describe the abuse at this stage
              </h2>
              <p class="govuk-body ">If you don't feel ready to talk about the abuse right now, you can do so when you speak to Cafcass.
              </p>
              <p class="govuk-body ">Cafcass is an organisation that looks after the interests of children who are involved in family court cases.
              </p>

              <details class="govuk-details " data-module="govuk-details">
               <summary class="govuk-details__summary ">
                 <span class="govuk-details__summary-text " data-ga-category="explanations" data-ga-label="abuse details">
                   How Cafcass can support you in your case
                 </span>
               </summary>

             </details>

             <p class="govuk-body ">We will now ask you some questions about the abusive behaviour.
             </p>
             <div class="govuk-warning-text">
               <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
               <strong class="govuk-warning-text__text">
                 <span class="govuk-warning-text__assistive">Warning</span>
                The information that you give in this section will also be shared with the respondent, so they are able to respond to what you have said.
               </strong>
             </div>

             <p class="govuk-body ">Take your time filling in the information and write as much as you feel able to.
             </p>
             <div class="govuk-!-padding-bottom-4"></div>

           </div>

              <div class="govuk-button-group govuk-!-margin-top-6">
                <a class="govuk-button " role="button" draggable="false" data-module="govuk-button" href="generalabuse">Continue</a>
                <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
                  Save and come back later
                </a>

              </div>
        </div>


    </main>
  </div>
</div>
<div class="govuk-grid-column-one-third">

    <details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary">
     <span class="govuk-details__summary-text">
      Contacts for help
      </span>
    </summary>
    <div class="govuk-details__text">
     Ask a question or get any help in any language
     <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

     <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
     <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
     <a href="#" class="govuk-link">Find out about call charges</a>
     <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

    </div>
  </details>

</div>
</div>



{% endblock %}
